.main {
  width: 100%;
}

h1 {
  text-align: center;
  color: darkgray;
  margin-bottom: 30px;
  margin-top: 0px;
}

button[mat-fab].btn-cerrar ::ng-deep span.mat-button-wrapper {
  padding: 11px 0;
}

mat-form-field {
  width: 100%;
}

mat-form-field ::ng-deep .mat-form-field-label-wrapper {
  top: -18px;
}

mat-label {
  font-size: 25px;
}

ngx-material-timepicker ::ng-deep .timepicker-overlay {
  top: 15px;
}

.mat-form-field-wrapper mat-form-field ::ng-deep .mat-input-element:disabled {
  color: currentColor;
}

.mat-form-field-wrapper
  ::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-disabled
  .mat-form-field-label {
  color: rgba(0, 0, 0, 0.6);
}

.mat-form-field-wrapper
  ::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-disabled
  .mat-form-field-outline {
  color: rgba(0, 0, 0, 0.12);
}

.horarios .mat-form-field-wrapper {
  width: calc(25% - 7.5px);
  display: inline-block;
}

.horarios .mat-form-field-wrapper mat-form-field {
  width: 100%;
}

.horarios div.texto {
  width: 10px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
}

.horarios mat-label {
  font-size: 23px;
}

.horarios input {
  text-align: center;
}

.botonera button[color="success"][mat-fab],
mat-expansion-panel ::ng-deep button[color="success"][mat-flat-button] {
  background-color: #28a745;
  color: white;
}

.botonera button[color="warning"][mat-fab] {
  background-color: #ff8337;
  color: white;
}

.botonera button[mat-fab] {
  margin-left: 10px;
}

/* Expansion Panel */

mat-accordion.custom .mat-expansion-panel-header-title,
mat-accordion.custom .mat-expansion-panel-header-description {
  flex-basis: 0;
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

mat-accordion.custom .mat-expansion-panel {
  position: relative;
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 2px transparent solid;
  transition: border-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

mat-accordion.custom .mat-expansion-panel:hover {
  border-color: rgba(0, 0, 0, 0.89);
}

mat-accordion.custom .mat-expansion-panel-header {
  height: 50px !important;
  padding-left: 10px;
  background: rgba(0, 0, 0, 0) !important;
}

mat-accordion.custom .mat-expansion-panel-header.mat-expanded {
  height: 64px !important;
}

mat-accordion.custom .mat-expansion-panel-header-title {
  margin-right: 10px;
  text-align: left;
  max-width: 80px;
}

mat-accordion.custom.detalle-reserva .mat-expansion-panel-header-description {
  margin-top: 2px;
  font-size: 20px;
  margin-left: -58px;
}

mat-accordion.custom.detalle-cliente .mat-expansion-panel-header-description {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 4px;
  left: 30px;
  font-size: 19px;
  top: -17px;
  position: absolute;
  background: white;
}

mat-accordion.custom.detalle-reserva .mat-expansion-panel-header[aria-disabled=true] {
  color: rgba(0, 0, 0, 0.6);
}

mat-accordion.custom .mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: unset !important;
}

@media (hover: none) {
  mat-accordion.custom
    .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"])
    .mat-expansion-panel-header:hover {
    background: unset !important;
  }
}

mat-accordion.custom .mat-expansion-panel-header.mat-expanded:focus,
mat-accordion.custom .mat-expansion-panel-header.mat-expanded:hover {
  background: unset;
}

mat-accordion.custom mat-list-item ::ng-deep .mat-list-item-content {
  padding-left: 0;
  padding-right: 0;
}

mat-accordion.custom ::ng-deep .clienteDebe mat-panel-description {
  color: #f44336;
}
mat-accordion.custom ::ng-deep .clienteDebe .mat-expansion-panel-header-title {
  color: #f44336;
}
mat-accordion.custom ::ng-deep .clienteDebe .mat-expansion-indicator::after {
  color: #f44336;
}

mat-accordion.custom ::ng-deep .clientePago mat-panel-description {
  color: #28a745;
}
mat-accordion.custom ::ng-deep .clientePago .mat-expansion-panel-header-title {
  color: #28a745;
}
mat-accordion.custom ::ng-deep .clientePago .mat-expansion-indicator::after {
  color: #28a745;
}

/* END - Expansion Panel */

@media (min-width: 560px) {
  .main {
    width: 50%;
  }

  h1 {
    text-align: left;
  }
}

@media (max-device-width: 1023px) and (orientation: landscape) {
  ngx-material-timepicker ::ng-deep .timepicker {
    position: relative;
  }

  ngx-material-timepicker ::ng-deep .timepicker-overlay {
    top: 20px;
  }

  ngx-material-timepicker ::ng-deep .timepicker__header,
  ngx-material-timepicker ::ng-deep .timepicker__body {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  ngx-material-timepicker
    ::ng-deep
    .timepicker__header
    ngx-material-timepicker-dial {
    margin-top: 20px;
  }

  ngx-material-timepicker ::ng-deep .timepicker__actions {
    width: 185px;
    background: #ffffff00;
    left: 0;
    position: absolute;
    bottom: 0;
  }

  ngx-material-timepicker ::ng-deep .timepicker__actions button {
    color: white;
  }
}
