<h1 *ngIf="estaPendiente()">Iniciar Reserva</h1>
<h1 *ngIf="estaCorriendo()">{{finalizarReservaText}}</h1>
<h1 *ngIf="estaFinalizada()">Pagar Reserva</h1>

<form class="main" *ngIf="reserva" #reservaForm="ngForm" (ngSubmit)="onSubmit()">

  <!-- Horarios -->
  <div class="horarios">

    <div class="mat-form-field-wrapper">
      <mat-form-field [appearance]="appearance" (click)="inputHoraInicio.focus()"
        [style.cursor]="!estaPendiente() ? 'not-allowed' : 'pointer'">
        <mat-label>HI</mat-label>
        <input matInput type="number" class="no-arrows" placeholder="HI" min="0" max="23" [(ngModel)]="horaInicio"
          name="horaInicioName" #inputHoraInicio (keydown)="onKeyPressNumero($event)" (wheel)="false"
          [disabled]="!estaPendiente()" [style.cursor]="!estaPendiente() ? 'not-allowed' : 'pointer'"
          (input)="inputHoraInicio.value = horaInicio" />
      </mat-form-field>
    </div>

    <div class="texto">:</div>

    <div class="mat-form-field-wrapper">
      <mat-form-field [appearance]="appearance" (click)="inputMinutoInicio.focus()"
        [style.cursor]="!estaPendiente()? 'not-allowed' : 'pointer'">
        <mat-label>MI</mat-label>
        <input matInput type="number" class="no-arrows" placeholder="MI" min="0" max="59" [(ngModel)]="minutosInicio"
          name="minutosInicioName" #inputMinutoInicio (keydown)="onKeyPressNumero($event)" (wheel)="false"
          [disabled]="!estaPendiente()" [style.cursor]="!estaPendiente() ? 'not-allowed' : 'pointer'"
          (input)="inputMinutoInicio.value = minutosInicio" />
      </mat-form-field>
    </div>


    <div class="texto">-</div>

    <div class="mat-form-field-wrapper">
      <mat-form-field [appearance]="appearance" (click)="inputHoraFin.focus()"
        [style.cursor]="!estaCorriendo() ? 'not-allowed' : 'pointer'">
        <mat-label>HF</mat-label>
        <input matInput type="number" class="no-arrows" placeholder="HF" min="0" max="23" [(ngModel)]="horaFin"
          name="horaFinName" #inputHoraFin (keydown)="onKeyPressNumero($event)" (wheel)="false"
          [disabled]="!estaCorriendo()" [style.cursor]="!estaCorriendo() ? 'not-allowed' : 'pointer'"
          (input)="inputHoraFin.value = horaFin" />
      </mat-form-field>
    </div>


    <div class="texto">:</div>

    <div class="mat-form-field-wrapper">
      <mat-form-field [appearance]="appearance" (click)="inputMinutoFin.focus()"
        [style.cursor]="!estaCorriendo() ? 'not-allowed' : 'pointer'">
        <mat-label>MF</mat-label>
        <input matInput type="number" class="no-arrows" placeholder="MF" min="0" max="59" [(ngModel)]="minutosFin"
          name="minutosFinName" #inputMinutoFin (keydown)="onKeyPressNumero($event)" (wheel)="false"
          [disabled]="!estaCorriendo()" [style.cursor]="!estaCorriendo() ? 'not-allowed' : 'pointer'"
          (input)="inputMinutoFin.value = minutosFin" />
      </mat-form-field>
    </div>

  </div>

  <!-- Detalles Reserva -->
  <mat-accordion class="custom detalle-reserva">
    <div style="border: 1px #e0e0e0 solid; border-radius: 5px;">
      <mat-expansion-panel [expanded]="estaDetallesExpandido || estaFinalizada()"
        (opened)="estaDetallesExpandido = true;" [disabled]="estaDetallesDeshabilitado || estaFinalizada()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon style="font-size: 21px; height: 21px; width: 21px;" [innerHtml]="'format_list_bulleted'">
            </mat-icon>

          </mat-panel-title>
          <mat-panel-description>
            Detalles Reserva
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="mat-expansion-body">

          <!-- Importe Cancha -->
          <div class="mat-form-field-wrapper">
            <mat-form-field [appearance]="appearance" [style.cursor]="'not-allowed'">
              <mat-label>{{importeReservaText}}</mat-label>
              <input matInput type="text" [placeholder]="importeReservaText" [ngModel]="reserva.importeUnidadReservada"
                name="inputImporteUnidadReservada" disabled="true" [style.cursor]="'not-allowed'" />
              <mat-icon matPrefix [innerHtml]="'attach_money'"></mat-icon>
            </mat-form-field>
          </div>

          <!-- Seña Total -->
          <div class="mat-form-field-wrapper">
            <mat-form-field [appearance]="appearance" [style.cursor]="'not-allowed'">
              <mat-label>Seña Total</mat-label>
              <input matInput type="number" placeholder="Seña Total" class="no-arrows" min="0" (wheel)="(false)"
                [(ngModel)]="reserva.seniaTotal" name="nameSeniaTotal" disabled="true"
                (keydown)="onKeyPressNumero($event)" [style.cursor]="'not-allowed'" />
              <mat-icon matPrefix [innerHtml]="'attach_money'"></mat-icon>
            </mat-form-field>
          </div>

          <!-- Descuento -->
          <div class="mat-form-field-wrapper">
            <mat-form-field [appearance]="appearance" [style.cursor]="estaCerrada() ? 'not-allowed' : 'pointer'">
              <mat-label>Descuento</mat-label>
              <input matInput type="number" placeholder="Descuento" class="no-arrows" min="0" (wheel)="(false)"
                [style.cursor]="estaCerrada() ? 'not-allowed' : 'pointer'" [(ngModel)]="reserva.descuento"
                name="nameDescuento" (keydown)="onKeyPressNumero($event)" [disabled]="estaCerrada()" />
              <mat-icon matPrefix [innerHtml]="'attach_money'"></mat-icon>
            </mat-form-field>
          </div>

          <!-- Comentario -->
          <div class="mat-form-field-wrapper">
            <mat-form-field [appearance]="appearance" [style.cursor]="estaCerrada() ? 'not-allowed' : 'pointer'">
              <mat-label>Comentario</mat-label>
              <textarea style="overflow:hidden" matInput [(ngModel)]="reserva.comentario" #comentarioText="ngModel" name="comentarioName"
                mat-autosize maxlength="512" placeholder="Comentario" [minlength]="+reserva.descuento > 0 ? 10 : 0"
                [required]="+reserva.descuento > 0" [style.cursor]="estaCerrada() ? 'not-allowed' : 'pointer'"
                [disabled]="estaCerrada()">
          </textarea>
              <mat-icon style="color:grey;" matPrefix [innerHtml]="'comment'"></mat-icon>
              <mat-hint [style.cursor]="'text'" align="end">{{ reserva?.comentario?.length || 0 }} / 512</mat-hint>
              <mat-hint [style.cursor]="'text'" *ngIf="+reserva.descuento > 0 && reserva?.comentario?.length < 10"
                align="start">
                {{ reserva?.comentario?.length || 0 }} / 10</mat-hint>
              <mat-error [style.cursor]="'text'">Ingrese un comentario</mat-error>
            </mat-form-field>
          </div>

          <br />
          <br />


          <mat-accordion *ngFor="let clienteReserva of reserva.clientesReserva" class="custom detalle-cliente">
            <!-- Activar para Consumos -->
            <div style="border: 1px #e0e0e0 solid; border-radius: 5px;">
              <mat-expansion-panel
                [class.clienteDebe]="!(clienteReserva.importeUnidadReservaParte && clienteReserva.estadoCumplimiento)"
                [class.clientePago]="clienteReserva.importeUnidadReservaParte && clienteReserva.estadoCumplimiento"
                (opened)="false && estaPendiente() && panel.close();" #panel>

                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon style="font-size: 21px; height: 21px; width: 21px;" [innerHtml]="'attach_money'">
                    </mat-icon>
                    <span style="width: 100%; font-size: 14px; padding-left: 3px;">
                      {{((reserva?.importeUnidadReservada || 0 ) / reserva.clientesReserva.length) - (clienteReserva?.senia || 0) - (reserva?.descuento || 0) / reserva.clientesReserva.length}}
                    </span>
                  </mat-panel-title>
                  <mat-panel-description>
                    {{clienteReserva.cliente.nombreYApellido}}
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-list>
                  <mat-divider></mat-divider>
                  <div style="width: 100%; height: 10px;"></div>
                  <mat-list-item>
                    <mat-icon [innerHtml]="'attach_money'" class="md-18"></mat-icon>
                    <span>&nbsp;{{reserva.importeUnidadReservada/reserva.clientesReserva.length}} : Reserva</span>
                  </mat-list-item>
                  <div *ngIf="clienteReserva?.senia">
                    <mat-divider style="left: 10px; width: calc(100% - 20px);"></mat-divider>
                    <mat-list-item>
                      <mat-icon [innerHtml]="'attach_money'" class="md-18"></mat-icon>
                      <span>-{{clienteReserva.senia}} : Seña</span>
                    </mat-list-item>
                  </div>
                  <div *ngIf="reserva.descuento">
                    <mat-divider style="left: 10px; width: calc(100% - 20px);"></mat-divider>
                    <mat-list-item>
                      <mat-icon [innerHtml]="'attach_money'" class="md-18"></mat-icon>
                      <span>-{{reserva.descuento/reserva.clientesReserva.length}} : Descuento</span>
                    </mat-list-item>
                  </div>
                  <div></div>
                </mat-list>

                <mat-action-row *ngIf="puedeCambiarEstadosReservas && estaFinalizada()">


                  <button color="success" type="button" mat-flat-button
                    *ngIf="estaFinalizada() && !(clienteReserva.importeUnidadReservaParte && clienteReserva.estadoCumplimiento)"
                    (click)="clienteQuierePagar(reserva, clienteReserva)">
                    <mat-icon class="PAGAR md-30" [innerHtml]="'local_atm'"></mat-icon>
                  </button>

                </mat-action-row>
              </mat-expansion-panel>
            </div>

            <div style="width: 100%; height: 36px;"></div>
          </mat-accordion>

        </div>
        <mat-action-row *ngIf="!estaFinalizada()">
          <button type="button" mat-flat-button (click)="estaDetallesExpandido = false">Cerrar</button>
        </mat-action-row>
      </mat-expansion-panel>

    </div>
    <div style="width: 100%; height: 36px;"></div>
  </mat-accordion>


  <!-- Clientes + Cuenta -->

  <!-- Activar cuando la parte de consumos existe - El total es la sumatoria de todo lo consumido por los clientes -->
  <!-- <div class="mat-form-field-wrapper">
    <mat-form-field [appearance]="appearance" [style.cursor]="'not-allowed'" >
      <mat-label>Total Consumos</mat-label>
      <input matInput type="text" placeholder="Total Consumos" [ngModel]="totalConsumos" name="nameTotalConsumos" disabled="true" [style.cursor]="'not-allowed'" />
      <mat-icon matPrefix [innerHtml]="'attach_money'"></mat-icon>
    </mat-form-field>
  </div> -->

  <div class="mat-form-field-wrapper">
    <mat-form-field [appearance]="appearance" [style.cursor]="'not-allowed'">
      <mat-label>Restan Pagar</mat-label>
      <input matInput type="text" placeholder="Restan Pagar" [ngModel]="totalReserva" name="inputTotalReserva"
        disabled="true" [style.cursor]="'not-allowed'" />
      <mat-icon matPrefix [innerHtml]="'attach_money'"></mat-icon>
    </mat-form-field>
  </div>

  <div class="botonera" style="display: inline-block; width: 100%; text-align: right">

    <!-- Cancelar | Volver -->
    <button mat-fab type="button" color="primary" matTooltip="Volver" (click)="onVolverCancelar()">
      <mat-icon class="reply" [innerHtml]="'reply'"></mat-icon>
    </button>

    <!-- Comenzar -->
    <button *ngIf="puedeCambiarEstadosReservas && estaPendiente()" type="submit" mat-fab matTooltip="Comenzar" color="success">
      <mat-icon [innerHtml]="'play_arrow'"></mat-icon>
    </button>

    <!-- Finalizar -->
    <button *ngIf="puedeCambiarEstadosReservas && estaCorriendo()" mat-fab type="submit" matTooltip="Finalizar" color="warning">
      <mat-icon [innerHtml]="'stop'"></mat-icon>
    </button>

    <!-- Cerrar -->
    <button *ngIf="puedeCambiarEstadosReservas && estaFinalizada()" [disabled]="!noFaltaNadiePorPagar()" mat-fab type="submit" matTooltip="Cerrar"
      color="warn" class="btn-cerrar">
      <fa-icon style="font-size: 24px;" [icon]="faLock"></fa-icon>
    </button>

  </div>
</form>
