<!-- <form [formGroup]="subTestFG"> -->
<form>
  <mat-form-field>
    <input matInput type="email" name="valor" [(ngModel)]="value.msj" #inputTest="ngModel" email required>
    <mat-error *ngIf="">mi error</mat-error>
  </mat-form-field>

  <button type="button" id="submit" (click)="log(inputTest)">hola</button>
</form>
<!-- </form> -->
