<form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
  <div class="form-container">
    <!-- TITULO DEL MODAL-->
    <div class="content-container">
      <button type="button" mat-icon-button class="close-button" id="close-button" [mat-dialog-close]="false">
        <mat-icon id="close-icon" class="close-icon" [innerHtml]="'close'"></mat-icon>
      </button>
      <span class="titulo-span full-width">{{titulo}}</span>
    </div>

    <div class="content-controls">
      <mat-accordion class="mat-accordion-sucursales">
        <mat-expansion-panel *ngFor="let sucursalReservas of sucursalesReservas; let i = index"
          [expanded]="panelNumber === i" (opened)="setPanelNumber(i)"
          (closed)="panelNumber === i && setPanelNumber(-1)">

          <!-- ENCABEZADO CON NOMBRE SUCURSAL -->
          <mat-expansion-panel-header>

            <mat-panel-title>
              <div class="full-width mat-panel-title-custom">
                <div class="mat-panel-title-custom-div1">
                  <div class="mat-panel-title-custom-div2">
                    <div *ngIf="panelNumber !== i" style="display: table; height: 42px; font-size: 14px;">
                      <mat-icon style="display: table-cell; vertical-align: middle;" [innerHTML]="'today'"></mat-icon>
                      <div style="display: table-cell; vertical-align: middle; padding: 3px;">
                        {{sucursalReservas.sucursal.nombre}}</div>
                    </div>
                    <button [matTooltip]="'Ir a Grilla'" *ngIf="panelNumber === i" mat-button color="success"
                      (click)="onClickIrGrilla($event, sucursalReservas.sucursal)">
                      <mat-icon [innerHTML]="'today'"></mat-icon>
                      <span style="margin: 3px;">{{sucursalReservas.sucursal.nombre}}</span>
                    </button>
                  </div>
                </div>
              </div>
            </mat-panel-title>

            <mat-panel-description>
            </mat-panel-description>

          </mat-expansion-panel-header>

          <!-- NOMBRE UNIDAD RESERVA Y HORA DE FINALIZACION Y BOTON VER EN GRILLA-->
          <mat-list>

            <mat-list-item *ngFor="let reserva of sucursalReservas.reservas; let j = index">
              <div class="flexbox full-width" (click)="onClickIrAReserva($event,reserva, sucursalReservas.sucursal)">
                <div class="mat-list-item-flexbox-div1">
                  <div class="mat-list-item-flexbox-div2">
                    {{reserva.unidadDeReserva.descripcion}} -
                    {{reserva.fechaHoraFinTentativa | date:'hh:mm'}}
                  </div>
                </div>
                <div class="push">
                  <button [matTooltip]="'Ver Reserva'" type="button" class="mat-list-item-stop-button" color="warning"
                    mat-icon-button>
                    <mat-icon class="md-18" [innerHTML]="'stop'"></mat-icon>
                  </button>
                </div>
              </div>
              <mat-divider *ngIf="sucursalReservas.reservas.length !== (j+1)" [attr.data-index]="j">
              </mat-divider>
            </mat-list-item>

          </mat-list>

        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div>
      <button type="button" mat-flat-button id="no-button" color="primary" [mat-dialog-close]="false"
        cdkFocusInitial>Avisar Mas Tarde</button>
    </div>

  </div>
</form>
