button[color='warning'] {
  background: #ff8337;
  color: #ffffff !important;
}

.close-button {
  position: absolute;
  right: 0;
}

.close-icon {
  margin-left: auto;
  order: 2;
  font-weight: bolder;
  padding: 5px;
}

.close-icon:hover {
  cursor: pointer;
}

.content-controls {
  padding: 0px 5px;
  margin-bottom: 30px;
}

.content-container {
  color: #8f9cb5;
  display: flex;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

/* FlexBox */
.flexbox {
  display: flex;
}
.push {
  margin-left: auto;
}
/* END - FlexBox */

.form-container {
  margin: -24px -24px;
}

.mat-accordion-sucursales .mat-expansion-panel-header-title,
.mat-accordion-sucursales .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-accordion-sucursales .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-accordion ::ng-deep .mat-expansion-panel-body {
  padding: 0 16px 16px;
}

/* mat-accordion ::ng-deep .mat-expansion-panel-header {
  padding: 0 12px 0 24px;
} */

mat-checkbox ::ng-deep .mat-checkbox-layout {
  vertical-align: baseline;
}

mat-icon[color='success'] {
  color: #28a745 !important;
}

mat-list-item .mat-list-item-flexbox-div1 {
  display: table;
  height: 30px;
}

mat-list-item .mat-list-item-flexbox-div1 .mat-list-item-flexbox-div2 {
  display: table-cell;
  vertical-align: middle;
  font-size: 12px;
}

mat-list-item .mat-list-item-stop-button {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  line-height: 15px;
}

mat-list-item .mat-list-item-stop-button mat-icon {
  line-height: 20px;
}

.mat-panel-title-custom .mat-panel-title-custom-div1 {
  display: table;
  height: 45px;
}

.mat-panel-title-custom
  .mat-panel-title-custom-div1
  .mat-panel-title-custom-div2 {
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
}

#no-button {
  height: 50px;
  width: 100%;
  border-radius: 0px;
}

.titulo-span {
  padding-top: 40px;
  text-align: center;
  font-size: 20px !important;
  padding-bottom: 25px;
  padding-left: 10px;
}

button[color="success"]{
  background-color: #28a745;
  color: white;
}

/* DESKTOP & TABLET */
@media (min-width: 567px) {
  .content-controls {
    padding: 0px 20px;
  }

  mat-accordion ::ng-deep .mat-expansion-panel-body {
    padding: 0 24px 16px;
  }

  /* mat-accordion ::ng-deep .mat-expansion-panel-header {
    padding: 0 20px 0 24px;
  } */
}
