<div class="main">
  <mat-form-field [appearance]="appearance" class="mat-form-field-sucursal">
    <mat-label>Sucursal</mat-label>
    <mat-select #selectSucursal [placeholder]="'Sucursal'" (ngModelChange)="onChangeSucursal($event)"
      [(ngModel)]="sucursalSeleccionada" name="sucursalName">
      <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal">{{sucursal.nombre | titlecase}}</mat-option>
    </mat-select>
  </mat-form-field>

  <table mat-table [dataSource]="unidadesReservas" class="mat-elevation-z8" style="width: 100%;">

    <!-- Descripcion -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripcion </th>
      <td mat-cell *matCellDef="let unidadReserva"> {{unidadReserva.descripcion}} </td>
    </ng-container>

    <!-- Tipo -->
    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef> Tipo </th>
      <td mat-cell *matCellDef="let unidadReserva"> {{unidadReserva.tipo}} </td>
    </ng-container>

    <!-- Acciones -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let unidadReserva" style="text-align: right;">
        <!-- <div style="width: 50px; text-align: right;"> -->
        <mat-icon style="color:lightblue;" [innerHtml]="'edit'" matTooltip="Editar"></mat-icon>
        <!-- </div> -->
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="cursor: pointer;"
      (click)="onClickUnidadReserva(row)"></tr>
  </table>
</div>
