<div
  class="main"
  [style.height]="calcularPasosCssReserva() * 100 + '%'"
  [class.reserva-pendiente]="!estaVacia()"
  [class.reserva-corriendo]="estaCorriendo()"
  [class.reserva-finalizada]="estaFinalizada()"
  [class.reserva-cerrada]="estaCerrada()"
  [class.reserva-expand]="
    esReservaMenorUnaHora() ||
    (esReservaMultiple() && calcularPasosCssReserva() < 4)
  "
>
  <div *ngIf="calcularPasosCssReserva() <= 0">
    <div class="horario">
      <div class="div-middle" style="padding-right: 2px">
        <mat-icon [innerHtml]="'schedule'"></mat-icon>
      </div>
      <div class="div-middle hora">
        {{ reserva.fechaHoraComienzo | date: 'HH:mm' }}
      </div>
    </div>
    <div class="abm-icon plus-icon">
      <mat-icon [innerHtml]="'add'"></mat-icon>
    </div>
  </div>
  <div
    *ngIf="calcularPasosCssReserva() > 0"
    style="height: 100%; display: table"
  >
    <div style="display: table-cell; vertical-align: middle">
      <div
        class="horario"
        [style.display]="
          calcularPasosCssReserva() > 1 && !esReservaMultiple() ? '' : 'none'
        "
      >
        <div class="div-middle" style="padding-right: 2px">
          <mat-icon [innerHtml]="'schedule'" *ngIf="estaPendiente()"></mat-icon>
          <mat-icon [innerHtml]="'lock'" *ngIf="estaCerrada()"></mat-icon>
          <mat-icon
            [innerHtml]="'timelapse'"
            *ngIf="estaCorriendo()"
          ></mat-icon>
          <mat-icon
            [innerHtml]="'pan_tool'"
            *ngIf="estaFinalizada()"
          ></mat-icon>
        </div>

        <div *ngIf="estaPendiente()" class="div-middle hora">
          {{ reserva.fechaHoraComienzo | date: 'HH:mm' }}
          /
          {{ reserva.fechaHoraFin | date: 'HH:mm' }}
        </div>

        <div *ngIf="estaCorriendo()" class="div-middle hora">
          {{ reserva.fechaHoraComienzoReal | date: 'HH:mm' }}
          /
          <span [class]="reserva.elTiempoSeAgoto || reserva.elTiempoSeAgoto ? 'fecha-hora-fin-terminando' : null">{{ reserva.fechaHoraFinTentativa | date: 'HH:mm' }}</span>

        </div>

        <div *ngIf="estaFinalizada() || estaCerrada()" class="div-middle hora">
          {{ reserva.fechaHoraComienzoReal | date: 'HH:mm' }}
          /
          {{ reserva.fechaHoraFinReal | date: 'HH:mm' }}
        </div>
      </div>

      <div *ngIf="estaCorriendo() || estaFinalizada() || estaCerrada()">
        <div
          class="div-middle"
          style="padding-right: 3px; padding-left: 1px; padding-bottom: 2px"
        >
          <fa-icon [icon]="faFutbol"></fa-icon>
        </div>
        <div class="saldoReserva div-middle" style="padding-bottom: 1px">
          $ {{ reserva.importeUnidadReservada || 0 }}
        </div>
      </div>

      <div></div>

      <div *ngFor="let cR of reserva.clientesReserva">
        <div *ngIf="estaPendiente()" class="telefono">
          <div class="div-middle" style="padding-right: 2px">
            <mat-icon
              *ngIf="!cR.cliente.esTelefonoFijo"
              [innerHtml]="'phone_iphone'"
            ></mat-icon>
            <mat-icon
              *ngIf="cR.cliente.esTelefonoFijo"
              [innerHtml]="'phone'"
            ></mat-icon>
          </div>
          <div class="div-middle">
            {{
              ((cR.cliente?.esTelefonoFijo && '0') || '') +
                cR.cliente?.telefonoArea +
                cR.cliente?.telefonoNumero
            }}
          </div>
        </div>

        <div
          [style.display]="
            esReservaMultiple() && esReservaMenorUnaHora() ? 'none' : ''
          "
          class="nombre"
        >
          <div class="div-middle" style="padding-right: 2px">
            <mat-icon [innerHtml]="'face'"></mat-icon>
          </div>
          <div class="div-middle">
            <div class="text-truncate-80px text-left">
              {{ cR.cliente?.nombreYApellido?.trim() }}
            </div>
          </div>
        </div>

        <div
          class="semaforos"
          [hidden]="
            calcularPasosCssReserva() <= 1 ||
            (esReservaMultiple() && calcularPasosCssReserva() <= 2)
          "
        >
          <div class="rojo">
            <div>{{ cR?.cliente?.infraccionesGraves }}</div>
          </div>
          <div class="naranja">
            <div>{{ cR?.cliente?.infracciones }}</div>
          </div>
          <div class="verde">
            <div>{{ cR?.cliente?.cumplimientos }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="abm-icon">
      <mat-icon [innerHtml]="'edit'" *ngIf="estaPendiente()"></mat-icon>
      <mat-icon
        [innerHtml]="'visibility'"
        *ngIf="estaFinalizada() || estaCorriendo()"
      ></mat-icon>
    </div>

    <div
      [style.background-color]="reserva.motivo.color"
      class="motivo-line"
    ></div>
  </div>
</div>
<!-- {{ reserva.unidadDeReservaId +' '+ (reserva.fechaHoraComienzo | date:'medium')}} -->
