.main {
  width: 100% !important;
}

.abm-icon mat-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 2px;
}

.abm-icon.plus-icon mat-icon {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-size: 36px;
  width: 36px;
  height: 36px;
}

.abm-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  left: 0;
  opacity: 0;
}

.abm-icon:hover {
  opacity: 0.5;
}

div.semaforos {
  width: calc(100% - 10px);
}

div.semaforos div {
  width: 33.33%;
  height: 10px;
  display: inline-block;
  color: white;
  font-family: monospace;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 11px;
  text-align: center;
}

div.semaforos div div {
  display: inline;
}

div.semaforos div.rojo {
  background-color: #fd7272;
}

div.semaforos div.naranja {
  background-color: #fdbc42;
}

div.semaforos div.verde {
  background-color: #70a89c;
}

.telefono,
.nombre,
.saldoReserva {
  font-size: 10px;
}

.horario .hora {
  font-size: 10px;
  padding-bottom: 3px;
}

mat-icon {
  font-size: 14px;
  width: 14px;
  height: 14px;
}

.motivo-line {
  top: 0;
  right: 0;
  position: absolute;
  width: 5px;
  height: 100%;
}

.reserva-pendiente {
  box-sizing: border-box;
  border: 2px solid transparent;
  color: #0c5460;
  background: #d1ecf1;
  border-color: #bee5eb;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 1px);
  z-index: 1;
  border-radius: 0.25rem;
}

.reserva-finalizada {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.reserva-corriendo {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.reserva-cerrada {
  color: #f5f5f5;
  background-color: #4b535a;
  border-color: #2d3338;
}

.reserva-expand:hover {
  padding-top: 10px;
  padding-bottom: 10px;
  height: unset !important;
  z-index: 10;
}

.reserva-expand:hover .nombre {
  display: block !important;
}

.reserva-expand:hover .horario {
  display: block !important;
}

.reserva-expand:hover .semaforos {
  display: block !important;
}

.fecha-hora-fin-terminando {
  animation: text-color-2-colors 0.3s linear infinite alternate both;
}

@keyframes text-color-2-colors {
  100% {
    color: red;
    font-weight: bold;
  }
}
