<div *ngIf="listMode">
  <mat-form-field>
    <input
      matInput
      (keyup)="filtrar($event.target.value)"
      placeholder="Buscar"
    />
  </mat-form-field>

  <mat-table [dataSource]="fuenteDatos">
    <ng-container matColumnDef="Usuarios">
      <mat-header-cell *matHeaderCellDef
        ><strong> Usuarios </strong>
      </mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="goEditUser(element)">
        <mat-icon [innerHtml]="'face'"></mat-icon>{{ element.username }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <button
    mat-fab
    color="warn"
    class="mat-elevation-z8 fab-btn-dr"
    (click)="goAddUser()"
  >
    <mat-icon [innerHtml]="'add'"></mat-icon>
  </button>
</div>

<div *ngIf="!listMode" class="abm-form">
  <form>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="registerModel.username"
        name="username"
        placeholder="Usuario"
        [disabled]="formMode !== formCreate"
        required
      />
    </mat-form-field>
    <mat-form-field *ngIf="formMode === formCreate">
      <input
        matInput
        [(ngModel)]="registerModel.password"
        name="password"
        type="password"
        placeholder="Contraseña"
        required
      />
    </mat-form-field>
    <mat-form-field *ngIf="formMode === formCreate">
      <input
        matInput
        [(ngModel)]="registerModel.passwordConfirmation"
        name="passwordConfirmation"
        type="password"
        placeholder="Confirmar Contraseña"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="registerModel.firstName"
        name="firstName"
        placeholder="Nombre"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="registerModel.lastName"
        name="lastName"
        placeholder="Apellido"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        [(ngModel)]="registerModel.email"
        name="email"
        type="email"
        placeholder="Email"
        required
      />
    </mat-form-field>

    <button *ngIf="formMode === formCreate" mat-raised-button color="primary" (click)="addUser()">Crear</button>
    <div *ngIf="formMode === formEdit">
      <button class="btn-delete" mat-raised-button color="warn" (click)="deleteUser()">Eliminar</button>
      <button mat-raised-button color="primary" (click)="editUser()">Guardar</button>
    </div>



    <button
      mat-fab
      color="warn"
      class="mat-elevation-z8 fab-btn-dr"
      (click)="volver()"
    >
      <mat-icon [innerHtml]="'arrow_back'"></mat-icon>
    </button>
  </form>
</div>
<!-- Crear un listado con las opciones de edicion o triple boton al costado y el fabbutton para crear roles

  barra titulo fija,
  fabbutton al fondo a la derecha.
  los roles se eliminan de a uno.

-->
