<div [style.display]="showGrilla ? 'block' : 'none'" class="main" [class.full-screen]="esFullScreen">
  <div class="grilla">
    <div class="left-panel" style="display: inline-block;">
      <table>
        <thead>
          <tr style="height: 40px;">
            <th class="fullscreen-icon" (click)="onClickFullScreen()">
              <mat-icon [innerHtml]="'fullscreen'" *ngIf="!esFullScreen"></mat-icon>
              <mat-icon [innerHtml]="'fullscreen_exit'" *ngIf="esFullScreen"></mat-icon>
            </th>
          </tr>
        </thead>
      </table>

      <perfect-scrollbar [class.full-screen]="esFullScreen" (psScrollY)="onScrollY()" class="ps-thours">
        <table>
          <tbody>
            <tr [style.height]="72 / stepsPerHour + 'px'" *ngFor="let fila of filas">
              <td *ngIf="isFilaHora(fila)" class="hour" [attr.rowspan]="stepsPerHour">
                <span [innerHtml]="calcularFilaHora(fila)"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </perfect-scrollbar>
    </div>

    <div class="right-panel" style="display: inline-block;">
      <perfect-scrollbar (psScrollX)="onScrollX()" class="ps-thead" [config]="configThead">
        <table>
          <thead>
            <tr>
              <th *ngFor="let unidad of unidadesDeReservaActivas">
                <span class="long">{{ unidad.descripcion }}</span>
                <span class="short">{{ unidad.descripcion }}</span>
              </th>
            </tr>
          </thead>
        </table>
      </perfect-scrollbar>

      <perfect-scrollbar class="ps-tbody" (psScrollX)="onScrollX()" (psScrollY)="onScrollY()"
        [config]="{ suppressScrollX: false }" [class.full-screen]="esFullScreen">
        <table id="mitable">
          <tbody>
            <tr [style.height]="72 / stepsPerHour + 'px'" *ngFor="let fila of filas">
              <td *ngFor="let reserva of fila" style="width: 100px;">
                <app-grilla-reserva [reserva]="reserva" (click)="onClickReserva(reserva)"></app-grilla-reserva>
              </td>
            </tr>
          </tbody>
        </table>
      </perfect-scrollbar>
    </div>
  </div>

  <div class="pie-grilla">
    <mat-sidenav-container>
      <mat-sidenav style="width: 100%;" #sidenavestadisticas [mode]="'over'">
        <div class="left-side-nav-main">
          <div class="left-side-nav-main-middle">
            <div class="exit-side-nav-button">
              <button mat-icon-button (click)="sidenavestadisticas.toggle()">
                <mat-icon [innerHtml]="'close'"></mat-icon>
              </button>
            </div>
            <div class="left-side-nav-content">
              <div [matTooltip]="'Pendientes'" class="estadistica" style="background-color:#92e2f1">
                <div class="estadistica-simple-nivel1">{{reservasPendientes.length}}</div>
              </div>
              <div [matTooltip]="'Jugando'" class="estadistica" style="background-color:#70a89c">
                <div class="estadistica-simple-nivel1">{{reservasCorriendo.length}}</div>
              </div>
              <div [matTooltip]="'Finalizadas'" class="estadistica" style="background-color:#fdbc42">
                <div class="estadistica-simple-nivel1">{{reservasFinalizadas.length}}</div>
              </div>
              <div [matTooltip]="'Cerradas'" class="estadistica" style="background-color:#4b535a">
                <div class="estadistica-simple-nivel1">{{reservasCerradas.length}}</div>
              </div>

              <div [matTooltip]="'Con Aviso'" class="estadistica" style="background-color:#576ad2">
                <div class="estadistica-simple-nivel1">{{reservasConAviso.length}}</div>
              </div>
              <div [matTooltip]="'Sin Aviso'" class="estadistica" style="background-color:#fd7272">
                <div class="estadistica-simple-nivel1">{{reservasSinAviso.length}}</div>
              </div>
            </div>
          </div>
        </div>
      </mat-sidenav>

      <mat-sidenav-content>
        <div class="mat-sidenav-content-main">

          <div class="global-inline-block-middle">
            <div class="contenedor-botton-estadisticas global-inline-block-middle">
              <button mat-icon-button (click)="sidenavestadisticas.toggle()">
                <mat-icon [innerHtml]="'insert_chart_outlined'"></mat-icon>
              </button>
            </div>
            <div class="div-middle-vacio"></div>
          </div>

          <div class="controles global-inline-block-middle">

            <div class="bloque1 global-inline-block-middle">
              <!-- <div style="display:inline; position: relative;">
                <span style="margin-right: 10px; font-weight: bold">
                  {{nombreDiaSemana}}
                </span>
                <span style="font-size: 12px; font-weight: bold; position:absolute; left:0; top:-13px"
                  [style.color]="semanasDesdeLaSemanaCero < 0 ? 'red' : 'green' ">
                  {{semanasDesdeLaSemanaCero ? 'S '+ (semanasDesdeLaSemanaCero > 0 ? '+' : '') + semanasDesdeLaSemanaCero : ''}}
                </span>
                <span style="font-size: 12px; font-weight: bold; position:absolute; left:0; bottom:-14px"
                  [style.color]="diasDesdeElDiaCero < 0 ? 'red' : 'green' ">
                  {{diasDesdeElDiaCero ? 'D '+ (diasDesdeElDiaCero > 0 ? '+' : '') + diasDesdeElDiaCero : ''}}
                </span>
              </div> -->

              <mat-form-field [matTooltip]="'Sucursal'" class="mat-form-field-sucursal" [appearance]="appearance"
                style="width: 100px; margin-right: 5px;">
                <mat-label>Sucursal</mat-label>
                <mat-select #selectSucursal (ngModelChange)="selectSucursalChange($event)" placeholder="Sucursal"
                  [style.font-weight]="sucursalPredeterminada === sucursalSeleccionada ? 'bolder' : null"
                  style="text-align: center;" [(ngModel)]="sucursalSeleccionada" name="sucursalesName">
                  <mat-option [style.font-weight]="sucursalPredeterminada === sucursal ? 'bolder' : null"
                    *ngFor="let sucursal of sucursales" [value]="sucursal">
                    {{sucursal.nombre + (sucursalPredeterminada === sucursal ? ' *' : '')}} </mat-option>
                </mat-select>
              </mat-form-field>


              <app-datepicker-sin-input class="not-bottom-padding-mat-form-field-wrapper" [(fecha)]="fechaReserva"
                (fechaChange)="onDateInput();" [placeholder]="nombreDiaSemana"
                [matHintLeft]="matHintLeftDatePickerSinInput" matTooltip="Fecha">
              </app-datepicker-sin-input>


              <!-- <button class="add add-mobile-vertical" mat-fab style="margin-left: 10px;" matTooltip="Reserva Nueva"
                routerLink="/reserva" (click)="onClickQuitarfullScreen();">
                <mat-icon [innerHtml]="'add'"></mat-icon>
              </button> -->
            </div>

            <div class="bloque2 global-inline-block-middle">
              <button mat-icon-button (click)="saltarDias(-7)">
                <mat-icon [innerHtml]="'fast_rewind'" class="fast_rewind" matTooltip="Semana Anterior"></mat-icon>
              </button>
              <button mat-icon-button (click)="saltarDias(-1)">
                <mat-icon [innerHtml]="'arrow_left'" class="arrow_left" matTooltip="Día Anterior"></mat-icon>
              </button>
              <button mat-icon-button style="margin-left: 12px;"
                [style.color]="diasDesdeElDiaCero === 0 ? 'gray' : 'unset'"
                (click)="diasDesdeElDiaCero !== 0 && saltarDias(-diasDesdeElDiaCero)">
                <mat-icon [innerHtml]="'history'" class="history" matTooltip="Reiniciar Fecha"></mat-icon>
              </button>
              <button mat-icon-button (click)="saltarDias(1)">
                <mat-icon [innerHtml]="'arrow_right'" class="arrow_right" matTooltip="Día Siguiente"></mat-icon>
              </button>
              <button mat-icon-button style=" margin-left: 12px;" (click)="saltarDias(7)">
                <mat-icon [innerHtml]="'fast_forward'" class="fast_forward" matTooltip="Semana Siguiente"></mat-icon>
              </button>

              <button class="add add-horizontal" [routerLink]="'/'+sucursalSeleccionada?.id+'/reserva'"
                (click)="onClickQuitarfullScreen();" mat-fab mat-fab style="margin-left: 10px;"
                matTooltip="Reserva Nueva">
                <mat-icon [innerHtml]="'add'"></mat-icon>
              </button>
            </div>

            <div class="global-div-middle-vacio"></div>
          </div>

          <div class="global-div-middle-vacio"></div>

        </div>

        <!-- Eliminar el 01/03/2020 -->
        <!-- <div *ngIf="false" class="controles" [class.full-screen]="esFullScreen">

        <div class="controles1">
          <div class="controles1-middle">
            <button mat-icon-button (click)="sidenavestadisticas.toggle()">

              <mat-icon [innerHtml]="'insert_chart_outlined'"></mat-icon>
            </button>
          </div>
        </div>

        <div class="controles2">
          <div class="bloque2">

            <div style="display:inline; position: relative;">
              <span style="margin-right: 10px; font-weight: bold">
                {{nombreDiaSemana}}
              </span>
              <span style="font-size: 12px; font-weight: bold; position:absolute; left:0; top:-13px"
                [style.color]="semanasDesdeLaSemanaCero < 0 ? 'red' : 'green' ">
                {{semanasDesdeLaSemanaCero ? 'S '+ (semanasDesdeLaSemanaCero > 0 ? '+' : '') + semanasDesdeLaSemanaCero : ''}}
              </span>
              <span style="font-size: 12px; font-weight: bold; position:absolute; left:0; bottom:-14px"
                [style.color]="diasDesdeElDiaCero < 0 ? 'red' : 'green' ">
                {{diasDesdeElDiaCero ? 'D '+ (diasDesdeElDiaCero > 0 ? '+' : '') + diasDesdeElDiaCero : ''}}
              </span>
            </div>
            <app-datepicker-sin-input [(fecha)]="fechaReserva" (fechaChange)="onDateInput();" placeholder="Fecha">
            </app-datepicker-sin-input>

            <button class="add add-mobile-vertical" mat-fab style="margin-left: 10px;" matTooltip="Reserva Nueva">
              <mat-icon [innerHtml]="'add'"></mat-icon>
            </button>
          </div>

          <div class="bloque3" style="margin-left: 20px;">
            <button mat-icon-button (click)="saltarDias(-7)">
              <mat-icon [innerHtml]="'fast_rewind'" class="fast_rewind" matTooltip="Semana Anterior"></mat-icon>
            </button>
            <button mat-icon-button (click)="saltarDias(-1)">
              <mat-icon [innerHtml]="'arrow_left'" class="arrow_left" matTooltip="Día Anterior"></mat-icon>
            </button>
            <button mat-icon-button style="margin-left: 12px;"
              [style.color]="diasDesdeElDiaCero === 0 ? 'gray' : 'unset'"
              (click)="diasDesdeElDiaCero !== 0 && saltarDias(-diasDesdeElDiaCero)">
              <mat-icon [innerHtml]="'history'" class="history" matTooltip="Reiniciar Fecha"></mat-icon>
            </button>
            <button mat-icon-button (click)="saltarDias(1)">
              <mat-icon [innerHtml]="'arrow_right'" class="arrow_right" matTooltip="Día Siguiente"></mat-icon>
            </button>
            <button mat-icon-button style=" margin-left: 12px;" (click)="saltarDias(7)">
              <mat-icon [innerHtml]="'fast_forward'" class="fast_forward" matTooltip="Semana Siguiente"></mat-icon>
            </button>

            <button class="add add-horizontal" routerLink="/reserva" (click)="onClickQuitarfullScreen();" mat-fab
              mat-fab style="margin-left: 10px;" matTooltip="Reserva Nueva">
              <mat-icon [innerHtml]="'add'"></mat-icon>
            </button>
          </div>

        </div>
      </div> -->
        <!-- END Eliminar el 01/03/2020 -->

      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>

<!-- Eliminar el 01/03/2020 -->
<!-- <div *ngIf="reservaACrear">

  <button type="button" mat-raised-button color="primary" (click)="reservaACrear = null; showGrilla = true;"
    class="botonVolverAGrilla" id="botonVolverAGrilla">
    Volver a la grilla
  </button>

  <app-reserva-page [reserva]="reservaACrear">

  </app-reserva-page>
</div> -->
<!-- END Eliminar el 01/03/2020 -->
