app-datepicker-sin-input ::ng-deep mat-form-field {
  width: 100px;
}

app-datepicker-sin-input ::ng-deep mat-form-field input {
  text-align: center;
  transform: translateY(-2px);
}

app-datepicker-sin-input ::ng-deep mat-form-field .mat-form-field-wrapper {
  padding-bottom: 0;
}

app-datepicker-sin-input ::ng-deep mat-form-field mat-datepicker-toggle {
  display: none;
}


.mat-form-field-sucursal ::ng-deep  .mat-form-field-wrapper {
  padding-bottom: 0;
}

.mat-form-field-sucursal ::ng-deep  .mat-select-arrow-wrapper {
  max-width: 1px;
  visibility: hidden;
}

.mat-form-field-sucursal mat-select {
  text-align: center;
  transform: translateY(-2px);
}

.mat-form-field-sucursal ::ng-deep .mat-form-field-outline-gap  {
  width: 50px;
}

app-datepicker-sin-input ::ng-deep mat-form-field .mat-hint {
  margin-left: auto;
  margin-right: auto;
}

app-datepicker-sin-input ::ng-deep mat-form-field .mat-form-field-hint-spacer {
  flex: unset;
}


mat-toolbar {
  display: none;
}

.fast_rewind,
.history,
.fast_forward {
  font-size: 30px;
}

.arrow_left,
.arrow_right {
  font-size: 42px;
}

button[mat-fab].add {
  height: 40px;
  width: 40px;
  margin-left: 10px;
}

button[mat-fab].add ::ng-deep .mat-button-wrapper {
  padding: 0;
}

.main {
  margin: -24px -16px;
}

.main.full-screen {
  margin: 0px 0px;
}

.ps-tbody,
.ps-thours {
  border-radius: 0px;
  border-bottom: black 1px solid;
  height: calc(100vh - 245px);
}

.ps-tbody.full-screen,
.ps-thours.full-screen {
  height: calc(100vh - 168px);
}

.ps-tbody ::ng-deep .ps__rail-y,
.ps-tbody ::ng-deep .ps__rail-x {
  z-index: 10;
}

.ps-thead ::ng-deep .ps__rail-x,
.ps-thours ::ng-deep .ps__rail-y {
  opacity: 0 !important;
  visibility: hidden !important;
}

.fullscreen-icon mat-icon {
  font-size: 36px;
  height: 36px;
  width: 36px;
  margin-left: 1px;
}

.fullscreen-icon {
  width: 40px !important;
  padding: 0 !important;
}

div.left-panel {
  width: 40px;
}

div.right-panel {
  width: calc(100% - 40px);
}

.contenedor-botton-estadisticas {
  margin-right: 0px;
}

.mat-sidenav-content-main {
  height: 120px;
  width: 100%;
  text-align: right;
}

.left-side-nav-main {
  position: relative;
  height: 100%;
}

.left-side-nav-main .left-side-nav-main-middle {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 40px;
}

.left-side-nav-main .left-side-nav-main-middle .left-side-nav-content {
  display: flex;
  height: 40px;
}

.left-side-nav-main .left-side-nav-main-middle .exit-side-nav-button {
  height: 40px;
  margin-right: 10px;
}

.estadistica {
  position: relative;
  height: 40px;
  width: 40px;
  text-align: center;
}

.estadistica .estadistica-simple-nivel1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 16px;
  color: white;
}

/* ELIMINAR EL 1/03/2020 */
/* .controles .controles1 {
  position: relative;
  height: 100%;
  min-height: 100%;
  width: 43px;
} */

/* .controles .controles1-middle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 40px;
} */

/* .controles .controles2 {
  width: 100%;
} */

/* .controles .bloque2 {
  margin-top: 5px;
  margin-bottom: 10px;
}

.controles .bloque3 {
  margin-bottom: 10px;
} */

/* END - ELIMINAR EL 1/03/2020 */

.controles {
  margin-right: 10px;
  width: calc(100% - 50px);
  height: 100%;
}

.controles .bloque1,
.controles .bloque2 {
  display: block;
}

.controles .bloque2 {
  margin-top: 10px;
}

.controles .bloque1 {
  margin-top: 5px;
}

.controles .global-div-middle-vacio {
  display: none;
}

.controles .bloque1 .add-mobile-vertical {
  display: unset;
}

.controles .bloque2 .add-horizontal {
  display: none;
}

.botonVolverAGrilla {
  position: absolute;
  top: 20px;
  right: 15px;
}

app-reserva-page ::ng-deep h1 {
  text-align: left;
}

@media (min-width: 481px) {
  .mat-sidenav-content-main {
    height: 75px;
  }

  .controles .bloque1 .add-mobile-vertical {
    display: none;
  }

  .controles .bloque2 .add-horizontal {
    display: unset;
  }

  .controles .bloque1,
  .controles .bloque2 {
    /* display: inline; */
  }

  .controles .bloque1,
  .controles .bloque2 {
    display: inline-block;
  }
  .controles .global-div-middle-vacio {
    display: inline-block;
  }

  .controles .bloque1 {
    margin-top: 0px;
    margin-right: 10px;
  }

  .controles .bloque2 {
    margin-top: 0px;
  }

  /* .controles .bloque1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .controles .bloque2 {
    margin-bottom: 0px;
  } */

  .ps-tbody,
  .ps-thours {
    border-radius: 0px;
    border-bottom: black 1px solid;
    height: calc(100vh - 200px);
  }

  .ps-tbody.full-screen,
  .ps-thours.full-screen {
    height: calc(100vh - 120px);
  }

  ::ng-deep .cdk-overlay-container mat-datepicker-content {
    max-height: 100vh;
  }

  ::ng-deep .cdk-overlay-container .mat-datepicker-dialog {
    transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
  }
}

@media (min-width: 60em) {
  /* Media query para reparar panel izquierdo de la grilla cuando se redimensiona */
  div.left-panel {
    width: 100px;
  }
  .fullscreen-icon {
    width: 100px !important;
  }
}

@media (min-width: 769px) {
  .botonVolverAGrilla {
    position: absolute;
    top: 30px;
    right: 25px;
  }

  .main {
    margin-right: -24px;
    margin-left: -24px;
  }

  .fast_rewind,
  .history,
  .fast_forward {
    font-size: 36px;
  }

  .arrow_left,
  .arrow_right {
    font-size: 48px;
  }

  button[mat-fab].add {
    height: 56px;
    width: 56px;
    margin-left: 20px;
  }

  button[mat-fab].add ::ng-deep .mat-button-wrapper {
    padding: 16px 0;
  }

  /* ELIMINAR EL 01/03/2020*/
  .controles {
    /* text-align: right;
    position: unset;
    margin: 10px; */
  }
  /*END - ELIMINAR EL 01/03/2020*/

  .contenedor-botton-estadisticas {
    margin-left: 10px;
  }

  .controles {
    width: calc(100% - 60px);
  }

  .left-side-nav-main .left-side-nav-main-middle {
    padding: 10px;
  }

  .grilla-table {
    margin: 0px;
  }

  .ps-tbody,
  .ps-thours {
    height: calc(100vh - 235px);
  }

  .ps-tbody.full-screen,
  .ps-thours.full-screen {
    height: calc(100vh - 120px);
  }

  div.right-panel {
    width: calc(100% - 100px);
  }

  ::ng-deep .cdk-overlay-container mat-datepicker-content {
    max-height: 80vh;
  }

  ::ng-deep .cdk-overlay-container .mat-datepicker-dialog {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
}

/*TABLE*/
table {
  font-family: sans-serif;
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  table-layout: fixed;
}

table thead tr {
  height: 40px;
}

table thead tr th {
  background: #2f353a;
  color: #d1d5db;
  padding: 0.5em;
  overflow: hidden;
  box-sizing: border-box;
  width: 100px;
}

table thead tr th .unidad {
  display: block;
  font-size: 1.2em;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 auto 5px;
  padding: 5px;
  line-height: 1.8;
}

table thead tr th .unidad.active {
  background: #d1d5db;
  color: #626e7e;
}

table thead tr th .short {
  display: none;
}

table thead tr th i {
  vertical-align: middle;
  font-size: 2em;
}

table tbody tr {
  background: #f5f6f7;
}

table tbody tr:nth-child(odd) {
  background: #d2dce8;
}

table tbody tr.bloqueada {
  background: #c8cacc;
}

table tbody tr.bloqueada:nth-child(odd) {
  background: #a6abb1;
}

/* table tbody tr:nth-child(2n + 0) td {
  border-bottom: 1px solid #c6cad0;
} */
table tbody tr td {
  text-align: center;
  padding: 0;
  vertical-align: middle;
  border-left: 1px solid #c6cad0;
  position: relative;
  height: 32px;
  cursor: pointer;
  box-sizing: border-box;
}

table tbody tr td:last-child {
  border-right: 1px solid #c6cad0;
}

table tbody tr td.hour {
  width: 100px;
  font-size: 2em;
  padding: 0;
  color: #626e7e;
  background: #fff;
  border-bottom: 1px solid #626e7e;
  border-collapse: separate;
  min-width: 100px;
  cursor: default;
}

table tbody tr td.hour span {
  display: block;
}

/*END-TABLE*/

@media (max-width: 60em) {
  /*TABLE*/
  table tbody {
    font-size: 12px;
  }

  table thead tr th .long {
    display: none;
  }

  table thead tr th .short {
    display: block;
  }

  table tbody tr td.hour {
    width: 40px;
    position: relative;
  }

  table tbody tr td.hour span {
    top: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    width: 60px;
    transform: translateX(14px) rotate(270deg);
    -webkit-transform: translateX(14px) rotate(270deg);
    -moz-transform: translateX(14px) rotate(270deg);
    -o-transform: translateX(14px) rotate(270deg);
  }

  /*END-TABLE*/
}

@media (max-width: 27em) {
  /*TABLE*/
  table thead tr th {
    font-size: 65%;
  }

  table thead tr th .unidad {
    display: block;
    font-size: 1.2em;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 auto 5px;
    padding: 5px;
  }

  table thead tr th .unidad.active {
    background: #d1d5db;
    color: #626e7e;
  }

  table tbody tr td.hour {
    font-size: 1.7em;
  }

  /* table tbody tr td.hour span {
    transform: translateX(14px) rotate(270deg) ;
    -webkit-transform: translateX(14px) rotate(270deg) ;
    -moz-transform: translateX(14px) rotate(270deg) ;
    -o-transform: translateX(14px) rotate(270deg) ;
  } */
  /*END-TABLE*/
}
