<mat-card class="login-card mat-elevation-z10">

  <mat-card-title>Login</mat-card-title>

  <mat-card-content>
    <form>

      <mat-form-field class="full-width">
        <input matInput placeholder="Usuario" [(ngModel)]="username" type="text" name="username" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Contraseña" [(ngModel)]="password" type="password" name="password" required>
      </mat-form-field>

      <!-- <div class="text-left inline-flex recordar">
        <mat-checkbox tabIndex="-1">Recordar Contraseña</mat-checkbox>
      </div> -->

      <div class="text-right inline-flex btn-login">
        <button mat-raised-button (click)="login()" color="primary">Ingresar</button>
      </div>

    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>

</mat-card>
