.login-card {
  position: absolute;
  width: calc(100% - 66px);
  height: 200px;
  margin: auto;
  top: 100px;
  right: 0;
  left: 0;
}

.recordar {
  width: calc(100% - 88px);
}

.btn-login {
  width: 88px;
  border-radius: 0px;
}

@media only screen and (min-width: 600px) {
  .login-card {
    position: absolute;
    width: 300px;
    top: 0;
    bottom: 0;
  }
}
