<!-- TITULO -->
<h1>{{mostrarBuscarCliente() ? 'Buscar' : null}} Cliente {{!mostrarBuscarCliente() ? cliente.id || null : null}}</h1>

<!-- CAMPO BUSQUEDA DE CLIENTE -->
<div class="div.buscar-cliente" *ngIf="mostrarBuscarCliente()">
  <app-buscar-cliente [saldoOn]="false" [semaforoOn]="false" [seniaOn]="false" [onlyFind]="true"
    [clientesAFiltrar]="clientesAFiltrarR" (clienteModelChange)="onClienteModelChange($event)"
    [disabled]="desactivarBuscarCliente()">
  </app-buscar-cliente>
</div>

<!-- FORMULARIO -->
<form #clienteForm="ngForm" (ngSubmit)="onSubmit(clienteForm)"
  [class.disabled]="mostrarBuscarCliente() && !desactivarBuscarCliente()">

  <!-- NOMBRE -->
  <mat-form-field [appearance]="appearance">
    <mat-label>Nombre y Apellido</mat-label>
    <input type="text" matInput placeholder="Nombre y Apellido" name="clienteNombreYApellido"
      [(ngModel)]="cliente.nombreYApellido" #nombreYApellidoInput="ngModel" (keydown)="onKeyDownNombreYApellido($event)"
      required maxlength="256" [disabled]="mostrarBuscarCliente() && !desactivarBuscarCliente()" />
    <mat-icon matPrefix [innerHtml]="'face'"></mat-icon>
    <mat-error>Debe ingresar un nombre</mat-error>
  </mat-form-field>

  <!-- EMAIL HORIZONTAL-->
  <mat-form-field class="email-horizontal" [appearance]="appearance">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" type="email" name="clienteEmail" [(ngModel)]="cliente.email"
      #emailinput="ngModel" maxlength="128" email [disabled]="mostrarBuscarCliente() && !desactivarBuscarCliente()" />
    <mat-icon matPrefix [innerHtml]="'email'"></mat-icon>
    <mat-hint>Ej: juan.perez1@gmail.com</mat-hint>
    <mat-error>Ingrese un email válido</mat-error>
  </mat-form-field>

  <!-- SALDO -->
  <mat-form-field *ngIf="cliente.id" [appearance]="appearance">
    <mat-label>Saldo</mat-label>
    <input matInput type="number" placeholder="Saldo" name="clienteSaldo" [(ngModel)]="cliente.saldo"
      #saldoinput="ngModel" (keydown)="onKeyDownSaldo($event)" (keyup)="onKeyUpSaldo($event)" (wheel)="(false)"
      [disabled]="mostrarBuscarCliente() && !desactivarBuscarCliente()" />
    <mat-icon matPrefix [innerHtml]="'attach_money'"></mat-icon>
    <mat-error>Saldo debe ser un numero entero, positivo o negativo</mat-error>
  </mat-form-field>

  <!-- SEMAFORO -->
  <div *ngIf="cliente.id" class="semaforos">
    <div class="semaforo-rojo">
      <div style="margin: auto; margin-left: 4px;">
        <mat-icon [innerHtml]="'thumb_down'"></mat-icon>
        <span>{{ cliente.infraccionesGraves || 0 }}</span>
      </div>
    </div>
    <div class="semaforo-naranja">
      <div style="margin: auto;">
        <mat-icon [innerHtml]="'pan_tool'"></mat-icon>
        <span>{{ cliente.infracciones || 0 }}</span>
      </div>
    </div>
    <div class="semaforo-verde">
      <div style="margin: auto; margin-right: 0;">
        <mat-icon [innerHtml]="'thumb_up'"></mat-icon>
        <span>{{ cliente.cumplimientos || 0 }}</span>
      </div>
    </div>
  </div>

  <!-- TELEFONO -->
  <fieldset style="position:relative; border-color: #e2dede;">

    <button type="button" mat-flat-button color="primary" (click)="cliente.esTelefonoFijo = !cliente.esTelefonoFijo"
      style="right: 15px; position: absolute; top: -6px;" matTooltip="¿Es Teléfono Fijo?"
      [disabled]="mostrarBuscarCliente() && !desactivarBuscarCliente()">
      <mat-checkbox tabIndex="-1" [(ngModel)]="cliente.esTelefonoFijo" labelPosition="before" (click)="(false)"
        name="clienteEsTelefonoFijo" #esTelefonoFijoCheckbox="ngModel"
        [disabled]="mostrarBuscarCliente() && !desactivarBuscarCliente()">
        Fijo
      </mat-checkbox>
    </button>

    <legend style="padding-left: 0;">
      <mat-icon [innerHtml]="cliente.esTelefonoFijo ? 'phone' : 'phone_iphone'"></mat-icon><label
        style="vertical-align: super;">Teléfono&nbsp;</label>
    </legend>

    <div style="width: 15px; display: inline-block; text-align: center;">
      {{cliente.esTelefonoFijo ? '0' : ''}}
    </div>

    <mat-form-field [appearance]="appearance" style="width: calc(25% - 12px); min-width: 55px; "
      matTooltip="Código de Area">
      <mat-label>Area</mat-label>
      <input matInput type="number" placeholder="Area" name="clienteTelefonoArea" [(ngModel)]="cliente.telefonoArea"
        #telefonoAreaInput="ngModel" (keydown)="onKeyDownTelefonoArea($event)" (wheel)="(false)" min="0"
        style="text-align: center;" required [pattern]="patternDe2a4digitos"
        [disabled]="mostrarBuscarCliente() && !desactivarBuscarCliente()" />
      <mat-error>Requerida</mat-error>
    </mat-form-field>
    <div style="width: 30px; display: inline-block; text-align: center;">
      {{cliente.esTelefonoFijo ? ' -' : ' - 15'}}
    </div>

    <mat-form-field [appearance]="appearance" style="margin-right: 12px; width: calc(75% - 57px);"
      matTooltip="Número de Teléfono">
      <mat-label>Número</mat-label>
      <input matInput type="number" placeholder="Número" name="clienteTelefonoNumero"
        [(ngModel)]="cliente.telefonoNumero" #telefonoNumeroInput="ngModel" (keydown)="onKeyDownTelefonoNumero($event)"
        (wheel)="(false)" min="0" style="text-align: center;" required [pattern]="patternDe6a8digitos"
        [disabled]="mostrarBuscarCliente() && !desactivarBuscarCliente()" />
      <mat-hint align="end">{{getMaxTelefono()}}</mat-hint>
      <mat-hint *ngIf="recordatorioTelefono">Anterior:{{recordatorioTelefono || ''}}</mat-hint>
    </mat-form-field>

  </fieldset>
  <!-- END TELEFONO -->

  <!-- EMAIL VERTICAL -->
  <mat-form-field class="email-vertical" [appearance]="appearance">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" type="email" name="clienteEmail" [(ngModel)]="cliente.email"
      #emailinput="ngModel" maxlength="128" email [disabled]="mostrarBuscarCliente() && !desactivarBuscarCliente()" />
    <mat-icon matPrefix [innerHtml]="'email'"></mat-icon>
    <mat-hint>Ej: juan.perez1@gmail.com</mat-hint>
    <mat-error>Ingrese un email válido</mat-error>
  </mat-form-field>

  <!-- DOCUMENTO -->
  <mat-form-field [appearance]="appearance" class="documento">
    <mat-label>Documento</mat-label>
    <input matInput type="number" placeholder="Documento" name="clienteDocumento" [(ngModel)]="cliente.documento"
      #documentoinput="ngModel" (keydown)="onKeyDownDocumento($event)" (wheel)="(false)" min="1"
      [pattern]="patternDe6a8digitos" required [disabled]="mostrarBuscarCliente() && !desactivarBuscarCliente()" />
    <mat-icon matPrefix [innerHtml]="'subtitles'"></mat-icon>
    <mat-error>Documento Invalido</mat-error>
    <mat-hint align="end">{{'Restan: ' + ( 8 - ( ( (cliente?.documento || '') + '' ).length || 0) ) }}</mat-hint>
    <mat-error align="end">{{'Restan: ' + ( 8 - ( ( (cliente?.documento || '') + '' ).length || 0) ) }}</mat-error>
  </mat-form-field>

  <!-- BOTONERA -->
  <div class="botonera">

    <button mat-fab *ngIf="cliente.id" color="warn" type="button" (click)="onClickBorrarCliente();"
      matTooltip="Eliminar" [disabled]="mostrarBuscarCliente() && !desactivarBuscarCliente()">
      <mat-icon [innerHtml]="'delete_forever'"></mat-icon>
    </button>
    <button mat-fab color="primary" type="button" (click)="onClickVolver();" matTooltip="Cancelar"
      [disabled]="mostrarBuscarCliente() && !desactivarBuscarCliente()">
      <mat-icon class="reply" [innerHtml]="'reply'"></mat-icon>
    </button>
    <button mat-fab style="margin-right: 2px;" color="success" type="submit"
      [matTooltip]="cliente.id ? 'Modificar' : 'Guardar'"
      [disabled]="mostrarBuscarCliente() && !desactivarBuscarCliente()">
      <mat-icon [innerHtml]="'save'"></mat-icon>
    </button>

  </div>

</form>
