::ng-deep button[mat-flat-button] mat-checkbox .mat-checkbox-frame {
  background-color: white;
  border-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

div[class^='semaforo-'] {
  display: inline-flex;
}

div.semaforos {
  width: calc(100%);
  margin-bottom: 15px;
}

.botonera {
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  text-align: right;
}

.botonera button {
  margin-right: 10px;
}

button[color='success'][mat-fab] {
  background-color: #28a745;
  color: white;
}

form.disabled {
  color: lightgray;
  cursor: not-allowed;
}

form.disabled button{
  background-color: lightgray;
  cursor: not-allowed;
}

form.disabled input{
  cursor: not-allowed;
}

form.disabled mat-checkbox ::ng-deep .mat-checkbox-label{
  color: white;
}

form.disabled mat-checkbox{
  cursor: not-allowed;
}

form.disabled .botonera button {
  color: white !important;
}


mat-icon.reply {
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  transform: translateY(-1px);
}

.semaforo-rojo mat-icon {
  color: #fd7272;
}

.semaforo-rojo span {
  font-weight: bold;
  margin-left: 5px;
  font-size: 24px;
  color: #757575;
  margin-top: -1px;
}

.semaforo-rojo {
  width: 33%;
}

.semaforo-naranja mat-icon {
  color: #fdbc42;
}

.semaforo-naranja {
  width: 33%;
}

.semaforo-naranja span {
  font-weight: bold;
  margin-left: 5px;
  font-size: 24px;
  color: #757575;
  margin-top: -1px;
}

.semaforo-verde mat-icon {
  color: #70a89c;
}

.semaforo-verde {
  width: 33%;
}

.semaforo-verde span {
  font-weight: bold;
  margin-left: 4px;
  font-size: 24px;
  color: #757575;
  margin-top: -1px;
}

fieldset mat-form-field {
  margin-right: 0px;
}

legend {
  padding: 2px;
}

/* MOBILE FIRST */

mat-form-field {
  width: calc(100%);
  margin-right: 0px;
}

fieldset {
  border: 1px solid silver;
  padding: 8px;
  border-radius: 4px;
  margin-left: 0px;
  margin-bottom: 25px;
  margin-right: 26px;
  margin-top: -5px;

  display: inline-block;
  width: calc(100% - 19px);
}

.email-horizontal {
  display: none;
}

form {
  margin-right: 0px;
}

h1 {
  text-align: center;
  color: darkgray;
  margin-bottom: 30px;
  margin-top: 0px;
}

/* END - MOBILE FIRST */

/* DESKTOP & TABLET */
@media (min-width: 567px) {
  mat-form-field {
    width: calc(50% - 25px);
    margin-right: 25px;
  }

  fieldset {
    display: inline-block;
    width: calc(50% - 44px);
  }

  form {
    margin-right: -25px;
  }

  .email-horizontal {
    display: inline-block;
  }

  .email-vertical {
    display: none;
  }

  div.semaforos {
    width: calc(50% - 25px);
    margin-right: 25px;
    display: inline-block;
    padding-top: 15px;
  }

  mat-form-field.documento {
    vertical-align: top;
    margin-top: 6px;
  }

  .botonera {
    margin-right: 25px;
  }
  h1 {
    text-align: left;
  }
}

/* END - DESKTOP & TABLET */
