<form #clientePagaForm="ngForm" (ngSubmit)="onSubmit(clientePagaForm, pagoInput); pagoInput.click()">

  <h2 mat-dialog-title>Cliente Paga</h2>

  <mat-dialog-content>

    <mat-form-field [appearance]="appearance" class="w-100 block" (hover)="false">
      <mat-label>Total Por Pagar</mat-label>
      <input matInput placeholder="Por Pagar" (focus)="totalPorPagarInput.blur()" #totalPorPagarInput
        name="TotalPorPagarName" [ngModel]="totalPorPagarPorCliente" />
      <mat-icon matPrefix>
        <div style="position: absolute; top: -6px; left: -3px;">-</div>
        <div style="display: inline-block;" [innerHtml]="'attach_money'"></div>
      </mat-icon>
    </mat-form-field>

    <mat-form-field *ngIf="clienteReserva.cliente.saldo != 0" [appearance]="appearance" class="w-100"
      (click)="usarSaldo = !usarSaldo">
      <mat-label *ngIf="clienteReserva.cliente.saldo >= 0">Saldo A Favor</mat-label>
      <mat-label *ngIf="clienteReserva.cliente.saldo < 0">Deuda Cliente</mat-label>
      <input type="text" class="no-arrows" matInput placeholder="Saldo En Cuenta Cliente" #saldoClienteInput
        name="saldoClienteName" [ngModel]="saldoClienteSiemprePositivo" (focus)="saldoClienteInput.blur();" />
      <mat-icon matPrefix>
        <div *ngIf="clienteReserva.cliente.saldo < 0" style="position: absolute; top: -6px; left: -3px;">-</div>
        <div style="display: inline-block;" [innerHtml]="'attach_money'"></div>
      </mat-icon>
      <div matSuffix style="position: relative;">
        <mat-checkbox labelPosition="before" [(ngModel)]="usarSaldo" name="usarSaldoName" (click)="false"
          style="position: absolute; top: -23px; right: 8px;">Usar</mat-checkbox>
      </div>
    </mat-form-field>

    <mat-form-field [appearance]="appearance" class="w-100 ">
      <mat-label>Cliente Entregó</mat-label>
      <input type="text" class="no-arrows" matInput placeholder="Pago" #pagoInput name="pagoName"
        [(ngModel)]="pagoString" required (focus)="pagoInput.type='number'; pagoInput.value=''"
        (blur)="pagoInput.type='text'; pagoInput.value=clienteReserva.clienteAbonoCon;" (wheel)="false" (keydown)="onNumberKeyDown($event)"
        [pattern]="+pagoInput.value <= 0 ? '[a-zA-Z ]*' : null" />
      <!-- <input type="text" class="no-arrows" matInput placeholder="Pago" #pagoInput name="pagoName"
        [(ngModel)]="pagoString" required (focus)="pagoInput.type='number'; pagoInput.value=''"
        (blur)="pagoInput.type='text'; pagoInput.value=pago;" (wheel)="false" (keydown)="onNumberKeyDown($event)"
        [pattern]="+pagoInput.value <= 0 ? '[a-zA-Z ]*' : null" /> -->
      <mat-icon matPrefix>
        <div style="display: inline-block;" [innerHtml]="'attach_money'"></div>
      </mat-icon>
    </mat-form-field>

    <mat-form-field [appearance]="appearance" class="w-100 block">
      <mat-label *ngIf="esSaldoRestantePositivo()">Nuevo saldo a favor</mat-label>
      <mat-label *ngIf="!esSaldoRestantePositivo()">Nueva deuda en contra</mat-label>
      <input matInput placeholder="Saldo Restante" (focus)="saldoRestanteInput.blur()" #saldoRestanteInput
        name="saldoRestanteName" [ngModel]="saldoRestantePositivo"
        [style.color]="esSaldoRestantePositivo() ? '#28a745' : esSaldoRestanteNegativo() ? '#f44336' : null " />
      <mat-icon matPrefix
        [style.color]="esSaldoRestantePositivo() ? '#28a745' : esSaldoRestanteNegativo() ? '#f44336' : null ">
        <div *ngIf="esSaldoRestanteNegativo()" style="position: absolute; top: -6px; left: -3px;">-</div>
        <div style="display: inline-block;" [innerHtml]="'attach_money'"></div>
      </mat-icon>
    </mat-form-field>

    <div *ngIf="true" class="reservaEstaLiberadaRadioButtonsDiv">

      <div *ngIf="reservaEstaLibreSemanaProxima" style="color:green">Reserva libre la próxima semana</div>
      <div *ngIf="!reservaEstaLibreSemanaProxima" style="color:red">Reserva ocupada la próxima semana</div>
      <mat-radio-group class="unselectable" [(ngModel)]="seDecidePasarReserva" name="reservarAutomaticamenteName"
        #reservarAutomaticamenteRadioGroup required>

        <mat-form-field class="siReservaAutomaticamenteMatFormField" [appearance]="appearance"
          (click)="seDecidePasarReserva = true; opcionSiSaldoEsPositivo = 'usarComoSenia';" required>
          <input matInput style="color:transparent" (focus)="siReservaAutomaticamenteInput.blur()"
            #siReservaAutomaticamenteInput name="siReservaAutomaticamenteName" [(ngModel)]="seDecidePasarReserva"
            required />
          <div matSuffix style="position: relative;">
            <mat-radio-button labelPosition="before" (click)="false" style="position: absolute; top: -23px; right: 8px;"
              [value]="true">{{ reservaEstaLibreSemanaProxima ? 'Pasar Reserva' : 'Buscar Reserva'}}</mat-radio-button>
          </div>
        </mat-form-field>

        <mat-form-field [appearance]="appearance"
          (click)="seDecidePasarReserva = false; opcionSiSaldoEsPositivo = 'guardarSaldo';">
          <input matInput style="color:transparent" (focus)="noReservaAutomaticamenteInput.blur()"
            [(ngModel)]="seDecidePasarReserva" name="noReservaAutomaticamenteName" #noReservaAutomaticamenteInput
            required />
          <div matSuffix style="position: relative;">
            <mat-radio-button labelPosition="before" (click)="false" style="position: absolute; top: -23px; right: 8px;"
              [value]="false">No Pasar</mat-radio-button>
          </div>
        </mat-form-field>

      </mat-radio-group>
    </div>

    <mat-form-field *ngIf="seDecidePasarReserva && reservaEstaLibreSemanaProxima" [appearance]="appearance" class="w-100"
      (click)="esFeriado = !esFeriado">
      <!-- <mat-label>¿Es Feriado?</mat-label> -->
      <input type="text" matInput #esFeriadoInput (focus)="esFeriadoInput.blur();" />
      <div matPrefix>
        <mat-icon [innerHtml]="'today'" style="display: inline-block;"></mat-icon>
        <span style="vertical-align: super; margin-left: 5px;">el {{proximaSemana() | date:'d/MMM' | uppercase }} </span>
      </div>

      <div matSuffix style="position: relative;">
        <mat-checkbox labelPosition="before" [(ngModel)]="esFeriado" name="esFeriadoName" (click)="false"
          style="position: absolute; top: -25px; right: 8px;">
          <span>¿Es Feriado?</span>
        </mat-checkbox>
      </div>
    </mat-form-field>

    <div *ngIf="esSaldoRestantePositivo() && seDecidePasarReserva != null">

      <fieldset style="border-radius: 5px; border: lightgrey 1px dashed; padding-bottom: 0; margin-bottom: 20px;">
        <legend>¿Qué hacer con el vuelto?</legend>
        <mat-radio-group [(ngModel)]="opcionSiSaldoEsPositivo" name="opcionSiSaldoEsPositivoName">
          <mat-form-field *ngIf="seDecidePasarReserva != false" [appearance]="appearance" class="w-100"
            (click)="opcionSiSaldoEsPositivo = 'usarComoSenia'">
            <input matInput (focus)="UsarComoSeniaInput.blur()" #UsarComoSeniaInput />
            <div matSuffix style="position: relative;">
              <mat-radio-button labelPosition="before" (click)="false"
                style="position: absolute; top: -23px; right: 8px;" value="usarComoSenia">Usar como seña
              </mat-radio-button>
            </div>
          </mat-form-field>
          <mat-form-field [appearance]="appearance" class="w-100" (click)="opcionSiSaldoEsPositivo = 'guardarSaldo'">
            <input matInput (focus)="guardarSaldoInput.blur()" #guardarSaldoInput />
            <div matSuffix style="position: relative;">
              <mat-radio-button labelPosition="before" (click)="false"
                style="position: absolute; top: -23px; right: 8px;" value="guardarSaldo">Guardar en cuenta cliente
              </mat-radio-button>
            </div>
          </mat-form-field>
          <mat-form-field [appearance]="appearance" class="w-100" (click)="opcionSiSaldoEsPositivo = 'darVuelto'">
            <input matInput (focus)="saldoRestanteInput.blur()" #saldoRestanteInput />
            <div matSuffix style="position: relative;">
              <mat-radio-button labelPosition="before" (click)="false"
                style="position: absolute; top: -23px; right: 8px;" value="darVuelto">Dar vuelto</mat-radio-button>
            </div>
          </mat-form-field>
        </mat-radio-group>
      </fieldset>
    </div>

    <!-- Que hacer con el saldo que sobra 1) Darle vuelto 2) Guardarlo para el cliente 3) usarlo de senia para otra cancha -->
    <mat-form-field [appearance]="appearance" *ngIf="esSaldoRestanteNegativo()" class="w-100">
      <mat-label>Comentario</mat-label>
      <textarea style="overflow:hidden" matInput placeholder="Comentario" [(ngModel)]="comentarioSaldoEnContra" name="comentarioName"
        minlength="10" maxlength="512" mat-autosize required>
    </textarea>
      <mat-hint>min: 10 / max: 512</mat-hint>
      <mat-error>min: 10 / max: 512</mat-error>
    </mat-form-field>

    <div style="display: inline-block; text-align: right;" class="w-100">

      <button type="button" mat-flat-button color="primary" (click)="dialogRef.close(reserva)">
        <mat-icon [innerHtml]="'reply'"></mat-icon>
      </button>

      <button mat-flat-button color="success" type="submit" style="margin-left: 10px;">
        <mat-icon [innerHtml]="'local_atm'"></mat-icon>
      </button>

    </div>

  </mat-dialog-content>

  <mat-dialog-actions>

  </mat-dialog-actions>

</form>
