button[color='success'][mat-flat-button] {
  background-color: #28a745;
  color: white;
}

mat-form-field ::ng-deep input {
  margin-bottom: 2px;
}

mat-form-field ::ng-deep .mat-form-field-flex {
  cursor: pointer;
}
mat-form-field ::ng-deep input {
  cursor: pointer;
}

mat-form-field.block ::ng-deep .mat-form-field-flex {
  cursor: not-allowed;
}

mat-form-field.block ::ng-deep .mat-form-field-outline {
  color: rgba(0, 0, 0, 0.12);
}

mat-form-field.block ::ng-deep .mat-form-field-outline div {
  border-width: 1px;
}

mat-form-field.block ::ng-deep input {
  cursor: not-allowed;
}

mat-form-field.mat-form-field-invalid ::ng-deep .mat-radio-label-content {
  color: #f44336;
}

mat-form-field.mat-form-field-invalid ::ng-deep .mat-radio-outer-circle {
  border-color: #f44336;
}

.reservaEstaLiberadaRadioButtonsDiv mat-form-field {
  width: 100%;
}

.reservaEstaLiberadaRadioButtonsDiv .siReservaAutomaticamenteMatFormField {
  margin-right: 0px;
}

@media (min-width: 560px) {
  .reservaEstaLiberadaRadioButtonsDiv mat-form-field {
    width: calc(100% - 180px);
  }

  .reservaEstaLiberadaRadioButtonsDiv .siReservaAutomaticamenteMatFormField {
    margin-right: 10px;
    width: calc(170px);
  }
}
