mat-checkbox ::ng-deep .mat-checkbox-layout {
  vertical-align: baseline;
}

.cliente-button {
  margin-bottom: 20px;
  width: 100%;
  display: block;
}

.content-container {
  /* margin: 5px 5px 15px 5px; */
  color: #8f9cb5;
  display: flex;
  position: relative;
}

.content-controls {
  padding: 0px 20px;
}

mat-form-field {
  width: 100%;
}

#close-button {
  position: absolute;
  right: 0;
}

#close-icon {
  margin-left: auto;
  order: 2;
  font-weight: bolder;
  padding: 5px;
}

#close-icon:hover {
  cursor: pointer;
}

#no-button {
  height: 50px;
  width: 50%;
  /* background-color: #fc7169;
  color: white; */
  border-radius: 0px;
}

#yes-button {
  height: 50px;
  width: 50%;
  /* background-color: #b6bece;
  color: white; */
  border-radius: 0px;
}

span.content-span {
  /* padding: 35px 16px; */
  padding-top: 40px;
  text-align: center;
  font-size: 20px;
  padding-bottom: 25px;
  padding-left: 10px;
}

.btn-dialog-close {
  width: 45px;
  min-width: 0px !important;
  height: 40px;
  padding: 0px !important;
}

/* mat-confirm-dialog (customised dialog) */
.mat-dialog-container {
  border-radius: 0.25em 0.25em 0.4em 0.4em;
  padding: 0px;
}

.semaforo-rojo {
  background-color: #fd7272;
}

.semaforo-naranja {
  background-color: #fdbc42;
}

button[color='success'][mat-flat-button] {
  background-color: #28a745;
  color: white !important;
}
