<form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
  <div style="margin: -24px -24px">
    <div class="content-container">
      <button type="button" mat-icon-button id="close-button" [mat-dialog-close]="false">
        <mat-icon id="close-icon" [innerHtml]="'close'"></mat-icon>
      </button>
      <span class="content-span full-width">¿Estás seguro que queres eliminar la reserva?</span>
    </div>

    <div class="content-controls">
      <mat-form-field [appearance]="appearance">
        <mat-label>Seleccionar Motivo</mat-label>
        <mat-select placeholder="" [(ngModel)]="motivo" name="motivoName" #motivoSelect="ngModel" required>
          <mat-option *ngFor="let m of motivosDeBaja" [value]="m">
            {{m.descripcion}}
          </mat-option>
        </mat-select>
        <mat-icon matPrefix [innerHtml]="'category'"></mat-icon>
        <mat-error>
          Seleccione un Motivo
        </mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="esDecisionDeLaSucursal()" [appearance]="appearance">
        <mat-label>Comentario</mat-label>
        <textarea style="overflow:hidden" matInput [(ngModel)]="comentario" #comentarioText name="comentarioName" mat-autosize
          maxlength="512" placeholder="Comentario" [minlength]="10" required>
      </textarea>
        <mat-icon style="color:grey;" matPrefix [innerHtml]="'comment'"></mat-icon>
        <mat-hint align="end">{{ 'max:' + (comentario?.length || 0) }} / 512</mat-hint>
        <mat-hint align="start">
          {{ 'min:' + (comentario?.length <= 10 ? comentario?.length : 10 || 0 ) }} / 10</mat-hint>
        <mat-error *ngIf="!comentario?.length">Ingrese un comentario</mat-error>
        <mat-error *ngIf="comentario?.length && comentario?.length < 10">{{ 'min:' + (comentario?.length <= 10 ? comentario?.length : 10 || 0 ) }} / 10</mat-error>
      </mat-form-field>

      <div *ngIf="motivo?.semaforo">
        <div *ngFor="let cRE of clientesReservaExt" class="cliente-button">
          <button type="button" *ngIf="cRE.clienteReserva?.cliente" mat-flat-button color="primary"
            style="width: 90%; text-align: center; height: 50px; border-top-right-radius: 0; border-bottom-right-radius: 0;"
            [style.border]="errorForm ? '2px solid red' : null" (click)="cRE.cancela = !cRE.cancela; error = false;">
            <mat-checkbox tabIndex="-1" labelPosition="before" (click)="(false)" [(ngModel)]="cRE.cancela"
              [name]="cRE.clienteReserva?.cliente?.nombreYApellido">
              {{cRE?.clienteReserva?.cliente?.nombreYApellido}}
            </mat-checkbox>
          </button>
          <div [class]="'semaforo-' + motivo.semaforo" style="
                      vertical-align: top;
                      width: 10%;
                      display: inline-block;
                      height: 50px;
                      border-top-left-radius: 0;
                      border-bottom-left-radius: 0;
                      border-top-right-radius: 2px;;
                      border-bottom-right-radius: 2px;;
                      ">

          </div>
        </div>
      </div>

    </div>

    <div style="margin-top: 30px;">
      <button type="button" mat-flat-button id="no-button" color="primary" [mat-dialog-close]="false" cdkFocusInitial>Cancelar</button>
      <button type="submit" mat-flat-button id="yes-button" color="success">Seguro</button>
    </div>

  </div>

  <form>
