<h1>Test WORKs</h1>
<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-vertical-stepper [linear]="isLinear" #stepper>

  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" (ngSubmit)="onSubmit()" >
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="dateCtrl"  (dateInput)="checkDate()" (blur)="checkDate()" required>
        <mat-datepicker-toggle matSuffix [for]="picker" [style.color]="color" ></mat-datepicker-toggle>
        <mat-datepicker #picker (closed)="checkDate()"></mat-datepicker>
        <mat-error>test</mat-error>
      </mat-form-field>
      <app-subtest [subTestFG]="firstFormGroup">

      </app-subtest>

      <button type="button" mat-button >Nada</button>
      <div>
        <button mat-button matStepperNext (click)="checkDate()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <a mat-button matStepperPrevious>Back</a>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper> -->

<!-- <div *ngFor="let objeto of objetos; let i = index">
  <app-subtest [(value)]="objetos[i]" [verificarCampos]="verificarCampos"></app-subtest>
  {{objeto.msj}}
</div>
<button (click)="verificarCampos = {}"></button> -->
