<mat-form-field [appearance]="appearance" (click)="$event.stopPropagation(); picker.open()">
  <mat-label>{{placeholder}}</mat-label>
  <input matInput [ngModel]="fecha" name="fechaName" #fechaInput="ngModel"
    (dateInput)="onDateInput($event.value._d, $event.value)" [matDatepicker]="picker" [min]="min" placeholder="{{placeholder}}"
    (focus)="$event.target.blur()" required />
  <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker touchUi #picker disabled="false"></mat-datepicker>
  <mat-error>Seleccione una fecha válida</mat-error>
  <mat-hint *ngIf="matHintLeft" [innerHTML]="matHintLeft"></mat-hint>
</mat-form-field>
