/* ::ng-deep .mat-form-field-underline {
  background-image: none !important;
  background-color: rgba(0, 0, 0, 0.42) !important;
} */

/* ::ng-deep mat-datepicker-toggle .mat-datepicker-toggle-default-icon {
  margin-left: -0.3em;
  width: 2em !important;
  margin-bottom: 0.1em;
} */

input[matInput]:hover {
  cursor: pointer;
}

mat-form-field:hover {
  cursor: pointer;
}

mat-datepicker-toggle ::ng-deep .mat-icon-button{
  width: 25px !important;
}

mat-datepicker-toggle ::ng-deep .mat-datepicker-toggle-default-icon{
  margin-left: 1px !important;
}

/* .error ::ng-deep .mat-form-field-label {
  color: #ff4081 !important;
}

.error ::ng-deep .mat-datepicker-toggle {
  color: #ff4081 !important;
}

.error ::ng-deep .mat-form-field-underline {
  background-color: #ff4081 !important;
} */
