<div
  (touchstart)="onTouchStart()"
  (touchmove)="onTouchMove()"
  (touchend)="onTouchEnd()"
>

  <mat-slider [ngModel]="minutos" name="minutosName" #minutosSlider="ngModel" thumbLabel tickInterval="1000"
    [displayWith]="formatLabel" [step]="step ? step : '15'" [min]="min" [max]="max" [color]="color"
    (input)="onInput($event)" [class.error]="error"
    [disabled]="disabled"

  ></mat-slider>

</div>

<br />
<label [style.color]="error ? 'red' : 'darkgray'" style="margin-left: 5px;">{{ labelBind }}</label>

