::ng-deep .mat-slider-thumb-label{
  right: -21px !important;
  top: -60px !important;
  width: 42px !important;
  height: 42px !important;
  background-color: #3f51b5;
}

mat-slider.error ::ng-deep .mat-slider-track-background{
  background: red;
}
