perfect-scrollbar {
  max-height: calc(100vh - 56px);
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  margin-top: 56px;
  background: #2f353a;
  overflow: hidden;
}

.sidenav-content {
  margin-top: 56px;
  height: calc(100vh - 56px);
}

.sidenav-content.full-screen {
  margin-top: 0px !important;
  height: 100vh !important;
  margin-left: 0px !important;
}

.sidenav-nav-list {
  padding-top: 0px;
}

.sidenav-nav-list a {
  color: #ccc;
}

.sidenav-nav-list a .icon {
  color: #888;
  width: 30px;
}

.sidenav-nav-list a.selected {
  background: #384046;
}

.sidenav-nav-list a.selected .icon {
  color: #20a8d8;
}

/* .mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
} */

.menu-right-btn {
  position: absolute;
  right: 10px;
}

.user-name-right {
  position: absolute;
  right: 60px;
}

.user-name-right div {
  display: inline-block;
  vertical-align: top;
}

.user-name-right div mat-icon {
  vertical-align: sub;
}

.routerActive {
  font-weight: bold;
  letter-spacing: 1px;
  font-style: italic;
}

.example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
  height: 56px;
}

.mat-card-content {
  margin: 10px;
  min-height: calc(100% - 75px);
}

.mat-card-content.full-screen {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

mat-sidenav.full-screen {
  display: none;
}

@media (min-width: 769px) {
  .mat-card-content {
    margin: 30px;
    min-height: calc(100% - 108px);
  }
}
