<mat-toolbar [style.display]="esFullScreen ? 'none' : null" color="primary" class="example-toolbar">
  <mat-icon [innerHtml]="maticon"></mat-icon>
  <span>&nbsp;{{ title }}</span>

  <div *ngIf="username" class="user-name-right">
    <div>
      <mat-icon [innerHtml]="'person_pin'"></mat-icon>
    </div>
    <div style="font-size: 15px;">&nbsp;{{username}}</div>
  </div>

  <button *ngIf="(isHandset$ | async) && drawer.opened" class="menu-right-btn" (click)="drawer.toggle()"
    mat-icon-button>
    <mat-icon [innerHtml]="'close'"></mat-icon>
  </button>
  <button class="menu-right-btn" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
    *ngIf="(isHandset$ | async) && !drawer.opened">
    <mat-icon [innerHtml]="'menu'" aria-label="Side nav toggle icon"></mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">

  <mat-sidenav [class.full-screen]="esFullScreen" #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)" [position]="(isHandset$ | async) ? 'end' : 'start'">
    <mat-nav-list class="sidenav-nav-list">
      <perfect-scrollbar>
        <div *ngFor="let enlace of enlaces">
          <h3 style="color: white;font-weight: 100;">&nbsp;&nbsp;&nbsp;{{enlace.descripcion}}</h3>
          <div *ngFor="let enlace of enlace.subEnlaces">
            <a mat-list-item [routerLink]="[enlace.url]" [routerLinkActiveOptions]="{exact: true}"
              routerLinkActive="routerActive">&nbsp;&nbsp;&nbsp;{{enlace.descripcion}}</a>
          </div>
          <hr>
        </div>
        <!-- <div *ngFor="let rutaN1 of rutas">
          <h3 style="color: white;font-weight: 100;">&nbsp;&nbsp;&nbsp;{{rutaN1.descripcion}}</h3>
          <div *ngFor="let rutaN2 of rutaN1.subRutas">
            <a mat-list-item [routerLink]="[rutaN2.url]" [routerLinkActiveOptions]="{exact: true}"
              routerLinkActive="routerActive">&nbsp;&nbsp;&nbsp;{{rutaN2.descripcion}}</a>
          </div>
          <hr>
        </div> -->
        <!-- <a mat-list-item [routerLink]="['/reservas']" [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="routerActive">Reservas</a>

        <a mat-list-item [routerLink]="['/cliente' , 2]" [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="routerActive">Editar Cliente</a>
        <a mat-list-item [routerLink]="['/cliente']" [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="routerActive">Cliente Nuevo</a>
        <hr>
        <h3 style="color: white;font-weight: 100;">&nbsp;&nbsp;&nbsp;Sucursal Tifosi 1</h3>
        <a mat-list-item [routerLink]="['/unidadesreservas']" [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="routerActive">&nbsp;&nbsp;&nbsp;Canchas</a>
        <a mat-list-item [routerLink]="['/unidadreserva']" [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="routerActive">&nbsp;&nbsp;&nbsp;Cancha Nueva</a>
        <hr>
        <a mat-list-item [routerLink]="['/admin/usuarios']" [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="routerActive">Usuarios</a>
        <a mat-list-item [routerLink]="['/admin/roles']" [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="routerActive">Roles</a>
        <a mat-list-item [routerLink]="['/admin/grupos']" [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="routerActive">Grupos</a>
        <hr> -->

        <div mat-list-item>&nbsp;</div>
      </perfect-scrollbar>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content id="matSidenavContentScroll" [class.full-screen]="esFullScreen" class="sidenav-content">
    <mat-card [class.full-screen]="esFullScreen" class="mat-card-content mat-elevation-z2">
      <router-outlet (activate)="onActivate()"></router-outlet>
    </mat-card>
  </mat-sidenav-content>

</mat-sidenav-container>
