<div style="margin: -24px -24px">
  <div class="content-container">
    <mat-icon id="close-icon" (click)="closeDialog()" [innerHtml]="'close'"></mat-icon>
    <span class="content-span full-width">{{data.message}}</span>
  </div>
  <button mat-flat-button id="yes-button" color="warn" [mat-dialog-close]="true">Seguro</button>
  <button mat-flat-button id="no-button" color="success" [mat-dialog-close]="false">Cancelar</button>
</div>
