<div style="display: block">

  <mat-form-field class="full-width mat-form-field-buscar" [appearance]="appearance">
    <mat-label>Teléfono / DNI</mat-label>
    <input type="text" matInput [matAutocomplete]="listadoControl" #inputCliente #autoInput="ngModel"
      [(ngModel)]="clienteHtml" name="autoInputName" (ngModelChange)="buscarClientes($event)"
      placeholder="Teléfono / DNI" (focus)="clientesBusquedaHtml = []; buscarClientes($event.target.value);"
      [disabled]="disabled" required />
    <mat-autocomplete #listadoControl="matAutocomplete" [displayWith]="displayInputSelect"
      (optionSelected)="inputCliente.blur(); onClienteOptionSelected($event)">
      <mat-option *ngFor="let cliente of clientesBusquedaHtml" [value]="cliente">
        {{ cliente.nombreYApellido }}
      </mat-option>
    </mat-autocomplete>

    <button type="button" mat-icon-button matSuffix *ngIf="!onlyFind && clienteHtml" (click)="onClickEditCliente()">
      <mat-icon [innerHtml]="'edit'"></mat-icon>
    </button>

    <button type="button" mat-icon-button matSuffix *ngIf="!onlyFind && !clienteHtml" (click)="onClickCrearCliente()">
      <mat-icon [innerHtml]="'add'"></mat-icon>
    </button>

    <button type="button" mat-icon-button matSuffix *ngIf="onlyFind && !clienteHtml" (click)="inputCliente.focus()">
      <mat-icon [innerHtml]="'search'"></mat-icon>
    </button>

    <button type="button" mat-icon-button matSuffix *ngIf="onlyFind && clienteHtml" (click)="onClickVolverABuscar()">
      <mat-icon [innerHtml]="'close'"></mat-icon>
    </button>


    <mat-icon matPrefix [innerHtml]="'face'"></mat-icon>
    <mat-error>Debe buscar y seleccionar un cliente</mat-error>
  </mat-form-field>

  <!-- <button type="button" mat-mini-fab color="primary" *ngIf="clienteHtml">
    <mat-icon [innerHtml]="'edit'" (click)="onClickEditCliente()"></mat-icon>
  </button>

  <button type="button" mat-mini-fab color="primary" *ngIf="!clienteHtml">
    <mat-icon [innerHtml]="'add'" (click)="onClickCrearCliente()"></mat-icon>
  </button> -->

</div>

<mat-form-field [appearance]="appearance" style="margin-bottom: 16px; margin-top: 18px;" *ngIf="seniaOn"
  class="full-width">
  <mat-label>Seña</mat-label>
  <input matInput type="number" min="0" placeholder="Seña" (keydown)="onSeniaKeyDown($event)"
    [(ngModel)]="inputSeniaHtml" #inputSenia name="inputSeniaName" (ngModelChange)="onSeniaChange($event)"
    [disabled]="!clienteReserva.cliente" (wheel)="(false)" />
  <mat-icon matPrefix [innerHtml]="'attach_money'"></mat-icon>
  <mat-error>La seña debe ser un numero positivo.</mat-error>
</mat-form-field>

<div *ngIf="semaforoOn || saldoOn" style="margin-bottom: 28px; display: block; margin-left: 4px">

  <div class="semaforo-rojo" *ngIf="semaforoOn">
    <mat-icon [innerHtml]="'thumb_down'"></mat-icon>
    <span>{{ clienteHtml?.infraccionesGraves || 0 }}</span>
  </div>

  <div class="semaforo-naranja" *ngIf="semaforoOn">
    <mat-icon [innerHtml]="'pan_tool'"></mat-icon>
    <span>{{ clienteHtml?.infracciones || 0 }}</span>
  </div>

  <div class="semaforo-verde" *ngIf="semaforoOn">
    <mat-icon [innerHtml]="'thumb_up'"></mat-icon>
    <span>{{ clienteHtml?.cumplimientos || 0 }}</span>
  </div>

  <div class="saldo" *ngIf="saldoOn">
    <mat-icon [innerHtml]="'attach_money'" [style.color]="clienteHtml?.saldo < 0 ? 'red' : null"></mat-icon>
    <span *ngIf="clienteHtml?.saldo < 0" style="margin-right: 5px">-</span>
    <span>
      {{(
        clienteHtml?.saldo > 0 ?
        clienteHtml?.saldo?.toFixed(0) :
        (clienteHtml?.saldo * -1 )?.toFixed(0)
    ) || 0 }}
    </span>
  </div>

</div>
