::ng-deep button[mat-flat-button] mat-checkbox .mat-checkbox-frame {
  background-color: white;
  border-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

div {
  display: inline-flex;
}


.mat-form-field-buscar ::ng-deep button[mat-icon-button][matSuffix]{
  width: 48px;
  height: 48px;
  border-radius: 2px;
}

.mat-form-field-buscar ::ng-deep .mat-form-field-suffix{
  top: 1px;
  right: 3px;
}

.mat-form-field-buscar ::ng-deep .mat-form-field-flex{
  padding-right: 0px;
}



.semaforo-rojo mat-icon {
  color: #fd7272;
}

.semaforo-rojo span {
  font-weight: bold;
  margin-left: 2px;
  font-size: 20px;
  color: #757575;
  margin-top: -1px;
  line-height: 25px;
}

.semaforo-rojo {
  width: 23%;
}

.semaforo-naranja mat-icon {
  color: #fdbc42;
}

.semaforo-naranja {
  width: 23%;
}

.semaforo-naranja span {
  font-weight: bold;
  margin-left: 2px;
  font-size: 20px;
  color: #757575;
  margin-top: -1px;
  line-height: 25px;
}

.semaforo-verde mat-icon {
  color: #70a89c;
}

.semaforo-verde {
  width: 22%;
}

.semaforo-verde span {
  font-weight: bold;
  margin-left: 1px;
  font-size: 20px;
  color: #757575;
  margin-top: -1px;
  line-height: 25px;
}

.saldo mat-icon {
  color: #70a870;
  -webkit-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -moz-transform: scale(1.3, 1.3);
  -o-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.saldo {
  width: 31%;
}

.saldo span {
  font-weight: bold;
  margin-left: -4px;
  margin-top: -1px;
  line-height: 25px;
  font-size: 20px;
  color: #757575;
}

mat-checkbox:focus {
  outline: none;
  border: 0;
}
