.abm-form {
  text-align: right;
}

.btn-delete{
  margin-right: 15px;
}

.descripcion {
  display: none;
}

.fab-btn-dr {
  position: fixed;
  bottom: 25px;
  right: 20px;
}

.fab-btn-dr mat-icon {
  margin: -18px;
  height: 36px;
  font-size: 36px;
  width: 36px;
}

mat-form-field {
  width: 100%;
}

mat-cell {
  padding-left: 0px !important;
  padding-right: 0px !important;
  font-size: smaller;
}

mat-cell mat-icon {
  margin-right: 5px;
  margin-bottom: 3px;
}

mat-header-cell{
  font-size: large;
  padding-left: 9px !important;
}

@media (min-width: 769px) {
  .abm-form {
    width: 50%;
  }

  .descripcion {
    display: flex;
  }

  .fab-btn-dr {
    position: fixed;
    bottom: 40px;
    right: 60px;
  }

  mat-cell {
    font-size: initial;
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  mat-header-cell {
    padding-left: 18px !important;
  }
}
