<div *ngIf="listMode">
  <mat-form-field>
    <input
      matInput
      (keyup)="filtrar($event.target.value)"
      placeholder="Buscar"
    />
  </mat-form-field>

  <mat-table [dataSource]="fuenteDatos">
    <ng-container matColumnDef="Nombre">
      <mat-header-cell *matHeaderCellDef
        ><strong> Grupos </strong>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon [innerHtml]="'group'"></mat-icon> {{ element.name }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Descripcion">
      <mat-header-cell *matHeaderCellDef class="descripcion"
        ><strong> Descripción </strong>
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="descripcion">
        <mat-icon [innerHtml]="'format_align_left'"> </mat-icon> {{ element.description }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="goEditGroup(row)"></mat-row>

  </mat-table>

  <button
    mat-fab
    color="warn"
    class="mat-elevation-z8 fab-btn-dr"
    (click)="goAddGroup()"
  >
    <mat-icon [innerHtml]="'add'" ></mat-icon>
  </button>
</div>

<div *ngIf="!listMode" class="abm-form">
  <form>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="registerModel.name"
        name="groupname"
        placeholder="Nombre Grupo"
        [disabled]="formMode !== formCreate"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="registerModel.description"
        name="descripcion"
        placeholder="Descripción"
        required
      />
    </mat-form-field>

    <button *ngIf="formMode === formCreate" mat-raised-button color="primary" (click)="addGroup()">Crear</button>
    <div *ngIf="formMode === formEdit">
      <button class="btn-delete" mat-raised-button color="warn" (click)="deleteGroup()">Eliminar</button>
      <button mat-raised-button color="primary" (click)="editGroup()">Guardar</button>
    </div>

    <button
      mat-fab
      color="warn"
      class="mat-elevation-z8 fab-btn-dr"
      (click)="volver()"
    >
      <mat-icon [innerHtml]="'arrow_back'"></mat-icon>
    </button>
  </form>
</div>
<!-- Crear un listado con las opciones de edicion o triple boton al costado y el fabbutton para crear roles

  barra titulo fija,
  fabbutton al fondo a la derecha.
  los roles se eliminan de a uno.

-->
