::ng-deep button[mat-flat-button] mat-checkbox .mat-checkbox-frame {
  background-color: white;
  border-style: none;
}

::ng-deep ngx-material-timepicker .clock-face__number span {
  cursor: pointer;
}

.add-precio-hora-div {
  margin-bottom: 10px;
}

.botonera {
  margin-top: 20px;
  margin-bottom: 30px;
  display: block;
  text-align: right;
}

.botonera button {
  margin-right: 10px;
}

.botonera mat-icon.reply {
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  transform: translateY(-1px);
}

button[color='success'][mat-fab] {
  background-color: #28a745;
  color: white;
}

button[color='success'][mat-icon-button] {
  color: #28a745;
}

button[color='success'][mat-icon-button][disabled] {
  color: #ddd;
  cursor: not-allowed;
}

button ::ng-deep .mat-button-wrapper {
  display: inline-block;
}

h1 {
  text-align: center;
  color: darkgray;
  margin-bottom: 30px;
  margin-top: 0px;
}

.hora-precio {
  text-align: center;
  width: calc(100% - 50px);
}
.hora-precio span {
  display: none;
}

.mouseblock {
  cursor: not-allowed !important;
}

mat-form-field.mouseblock ::ng-deep .mat-select-trigger {
  cursor: not-allowed !important;
}

.left-panel,
.right-panel {
  width: 100%;
  display: block;
}

@media (min-width: 560px) {
  .add-precio-hora-div {
    margin-bottom: 18px;
  }

  h1 {
    text-align: left;
  }

  .left-panel,
  .right-panel {
    width: calc(50% - 15px);
    display: inline-block;
    vertical-align: top;
  }

  .left-panel ~ .right-panel {
    margin-left: 30px;
  }
}

@media (min-width: 769px) {
  .hora-precio {
    line-height: 27px;
  }

  .hora-precio div {
    display: inline;
  }

  .hora-precio span {
    display: inline;
  }
}
