<form class="left-panel" #unidadReservaForm="ngForm"
  (ngSubmit)="unidadReserva.id ? onClickModificarUnidadReserva() : onClickGuardarUnidadReserva()">
  <h1>{{unidadReservaTitle}}</h1>
  <!-- Sucursal -->

  <mat-form-field [class.mouseblock]="sucursalSeleccionadaBloqueda" [appearance]="appearance" style="width: 100%;">
    <mat-label>Sucursal</mat-label>
    <mat-select [disabled]="sucursalSeleccionadaBloqueda" [placeholder]="'Sucursal'" [(ngModel)]="sucursalSeleccionada"
      #sucursalSelect="ngModel" name="sucursalName" required>
      <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal">{{sucursal.nombre | titlecase}}</mat-option>
    </mat-select>
    <mat-error>Seleccione una sucursal</mat-error>
  </mat-form-field>


  <!-- Descripción / Nombre par amostrar -->
  <mat-form-field [appearance]="appearance" style="width: 100%;">
    <mat-label>Descripción</mat-label>
    <input matInput type="text" placeholder="Descripción" [(ngModel)]="unidadReserva.descripcion"
      #descripcionInput="ngModel" name="descripcionName" required maxlength="128" minlength="5" />
    <!-- <mat-icon matPrefix [innerHtml]="''"></mat-icon> -->
    <mat-error>Agregá una descripción</mat-error>
    <mat-hint>
      {{ ((unidadReserva?.descripcion?.length || 0) < 6 ? (unidadReserva?.descripcion?.length || 0) : 5 ) + ' / 5'}}
    </mat-hint>
    <mat-hint align="end">{{ ( unidadReserva?.descripcion?.length || '0' ) + ' / 128'}}</mat-hint>
  </mat-form-field>

  <!-- Tipo Unidad Reserva -->
  <mat-form-field [appearance]="appearance" style="width: 100%;">
    <mat-label>Tipo</mat-label>
    <mat-select placeholder="Tipo" required [(ngModel)]="unidadReserva.tipo" name="tipoName" #tipoSelect="ngModel">
      <mat-option *ngFor="let t of tiposUnidadesReserva" [value]="t">{{t | titlecase}}</mat-option>
    </mat-select>
    <mat-error>Seleccioná un tipo</mat-error>
  </mat-form-field>

  <!-- Si la unidad está vigente para nuevas reservas -->
  <div style="width: 100%; text-align: right; padding-bottom: 20px;">
    <button type="button" mat-flat-button (click)="unidadReserva.activo = !unidadReserva.activo" style="width: 100px"
      color="primary">
      <mat-checkbox tabIndex="-1" labelPosition="before" [(ngModel)]="unidadReserva.activo" (click)="false"
        name="activoName" #activoCheckbox="ngModel">
        Activa
      </mat-checkbox>
    </button>
  </div>

  <div class="botonera">
    <!-- <button mat-fab *ngIf="unidadReserva.id && unidadReserva.id !== 0" color="warn" type="button" (click)="false" matTooltip="Eliminar">
      <mat-icon [innerHtml]="'delete_forever'"></mat-icon>
    </button> -->
    <button mat-fab color="primary" type="button" (click)="onGoBack()" matTooltip="Cancelar">
      <mat-icon class="reply" [innerHtml]="'reply'"></mat-icon>
    </button>
    <button mat-fab style="margin-right: 2px;" color="success" type="submit"
      [matTooltip]="unidadReserva.id ? 'Modificar' : 'Guardar'">
      <mat-icon [innerHtml]="'save'"></mat-icon>
    </button>
  </div>

</form>


<div class="right-panel" *ngIf="unidadReserva.id">

  <!-- Precios Por Hora -->
  <div class="add-precio-hora-div" style="text-align: center;">
    <button type="button" style="height: 48px; width: 48px;" mat-icon-button (click)="onClickAddPrecioPorHora()"
      color="success" [disabled]="disableAgregarPrecioPorHora">
      <mat-icon class="md-48" style="line-height: 1;" [innerHtml]="'add_box'"></mat-icon>
    </button>
  </div>

  <mat-accordion>

    <mat-expansion-panel [expanded]="precioPorHora.id === 0" *ngFor="let precioPorHora of unidadReserva.preciosPorHora"
      hideToggle>

      <mat-expansion-panel-header style="font-size: 12px">

        <mat-panel-title style="font-weight: bold; margin-right: 5px; max-width: 60px;">
          <div *ngIf="precioPorHora.id" class="center-middle">
            <div>{{precioPorHora.diaSemana}}</div>
          </div>
          <div *ngIf="!precioPorHora.id"> Nuevo</div>
        </mat-panel-title>

        <mat-panel-description *ngIf="precioPorHora.id" style="margin-right: 0;">
          <div class="hora-precio">
            <div>
              {{convertirHoraString(precioPorHora.horaInicio) + ' a ' + convertirHoraString(precioPorHora.horaFin)}}
            </div>
            <span> | </span>
            <div>${{precioPorHora.precioUnitarioPorHora || 0}}</div>
          </div>
          <div style="width: 50px; text-align: right;">
            <mat-icon style="color:lightblue;" [innerHtml]="'edit'" matTooltip="Editar"></mat-icon>
          </div>
        </mat-panel-description>

      </mat-expansion-panel-header>

      <div class="mat-panel-content">
        <app-precio-por-hora [precioPorHora]="precioPorHora"
          (eliminarPrecioPorHoraEventEmitter)="onEliminarPrecioPorHora($event)"
          (guardarPrecioPorHoraEventEmitter)="onGuardarPrecioPorHora()"
          (crearPrecioPorHoraEventEmitter)="onCrearPrecioPorHora($event)"></app-precio-por-hora>
      </div>

    </mat-expansion-panel>

  </mat-accordion>
</div>
