<div style="position: relative;">
  <div *ngIf="messageBox" class="alert fade alert-stickyfloat" (click)="close($event)" [class.in]="mostrar"
      [class.alert-stickyfloat]="messageBox.Float === stickyFloat"
      [class.alert-danger]="messageBox.Tipo === danger"
      [class.alert-success]="messageBox.Tipo === success"
      [class.alert-info]="messageBox.Tipo === info"
      [class.alert-warning]="messageBox.Tipo === warning"
  >
    <mat-icon [innerHtml]="'cancel'" *ngIf="messageBox.Tipo === danger"  class="danger"></mat-icon>
    <mat-icon [innerHtml]="'check_circle'" *ngIf="messageBox.Tipo === success"  class="success"></mat-icon>
    <mat-icon [innerHtml]="'info'" *ngIf="messageBox.Tipo === info"  class="info"></mat-icon>
    <mat-icon [innerHtml]="'report_problem'" *ngIf="messageBox.Tipo === warning"  class="warning"></mat-icon>

    <span  class="mensaje" [class.time-on]="timeOn" [class.time-off]="!timeOn">
      <span>
        <strong>{{messageBox.Strong}}</strong><span>{{messageBox.Mensaje}}</span>
      </span>
    </span>

    <div  class="wrap-close"  [class.time-on]="timeOn" [class.time-off]="!timeOn">
      <a href="#" (click)="false" class="close">{{timeOn ? messageBox.Segundos : ''}}&nbsp;&nbsp;&times;</a>
    </div>

  </div>
</div>
