/* :host {
  font-size: 14px;
}

.alert {
  padding: 15px;

  border: 1px solid transparent;
  border-radius: 0px;
  height: 56px;
  box-sizing: border-box;
}

.alert.alert-stickyfloat {
  position: fixed;
  top: 0px;

  width: 100%;

  z-index: 10;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 0.8;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2;
}

.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

@media (min-width: 769px) {
  .alert {
    margin-left: 0px;
    margin-right: 0px;
  }

  .alert.alert-stickyfloat {
  }
} */

:host {
  font-size: 14px;
}

.fade.in {
  opacity: 1;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 0px;
}

.alert * {
  vertical-align: middle;
}

.alert.alert-stickyfloat {
  position: fixed;
  top: 0px;
  width: calc(100% - 32px);
  z-index: 10;
}

.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

mat-icon {
  width: 30px;
}

.mensaje {
  display: inline-flex;
  box-sizing: border-box;
  text-align: center;
}

.mensaje.time-on {
  width: calc(100% - 85px);
}

.mensaje.time-off {
  width: calc(100% - 55px);
}

.mensaje span {
  display: inline;
}

.wrap-close {
  display: inline-flex;
}

.wrap-close.time-on {
  width: 55px;
}

.wrap-close.time-off {
  width: 20px;
}

.wrap-close .close {
  font-size: 21px;
  font-weight: 700;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2;

  margin-left: auto;
  margin-right: 0;
}
