<form>

  <!-- Día de la semana -->
  <mat-form-field [appearance]="appearance">
    <mat-label>Día</mat-label>
    <mat-select placeholder="Día" [(ngModel)]="precioPorHora.diaSemana" name="diaSemanaName" #diaSemanaSelect="ngModel"
      required>
      <mat-option *ngFor="let dia of diasSemana" [value]="dia">{{dia}}
      </mat-option>
    </mat-select>
    <button type="button" matPrefix mat-button mat-icon-button>
      <mat-icon [innerHtml]="'event'"></mat-icon>
    </button>
    <mat-error>Ingresá un día</mat-error>
  </mat-form-field>


  <!-- Hora Inicio -->
  <div class="hora-inicio">
    <mat-form-field [appearance]="appearance" style="cursor: pointer; width: calc(100% - 95px);"
      (click)="horaInicioInput.click()">
      <mat-label>Inicio</mat-label>
      <input matInput placeholder="Inicio" aria-label="Hora Inicio" style="cursor: pointer;"
        [ngxTimepicker]="horaInicioNgxTimepicker" [format]="24" readonly [(ngModel)]="horaInicioString" #horaInicioInput
        name="horaInicioName" required>
      <button type="button" matPrefix mat-button mat-icon-button>
        <mat-icon [innerHtml]="'access_time'"></mat-icon>
      </button>
      <mat-error>Ingresá una hora</mat-error>
      <mat-hint>De 00:00 a 23:59</mat-hint>
    </mat-form-field>
    <ngx-material-timepicker #horaInicioNgxTimepicker (timeSet)="log('timeset')" [defaultTime]="'15:00'" [ngxMaterialTimepickerTheme]="primary">
    </ngx-material-timepicker>

    <mat-form-field [appearance]="appearance" (click)="esHoraInicioConUnDiaMas = !esHoraInicioConUnDiaMas; actualizarHorasAdaptadas();"
      floatPlaceholder="always" style="width:90px; margin-left: 5px;" class="mat-form-field--no-underline">
      <!-- the matInput with display:none makes the magic. It's ugly, I've warned you -->
      <input matInput placeholder="Input" style="visibility: hidden;">
      <mat-checkbox (click)="false" [(ngModel)]="esHoraInicioConUnDiaMas" name="esHoraInicioConUnDiaMasName"
        labelPosition="before" style="position: absolute; left: 0; top: 7px;">+1Día</mat-checkbox>
    </mat-form-field>

  </div>

  <!-- Hora Final -->
  <div class="hora-final">

    <mat-form-field [appearance]="appearance" style="cursor: pointer; width: calc(100% - 95px);" (click)="horaFinalInput.click()">
      <mat-label>Fin</mat-label>
      <input matInput placeholder="Fin" aria-label="Hora Final" style="cursor: pointer;"
        [ngxTimepicker]="horaFinalNgxTimepicker" [format]="24" readonly [(ngModel)]="horaFinalString" #horaFinalInput
        name="horaFinalName" required>
      <button type="button" matPrefix mat-button mat-icon-button>
        <mat-icon [innerHtml]="'access_time'"></mat-icon>
      </button>
      <mat-error>Ingresá una hora</mat-error>
      <mat-hint>De 00:00 a 23:59</mat-hint>
    </mat-form-field>
    <ngx-material-timepicker #horaFinalNgxTimepicker [defaultTime]="'15:00'" [ngxMaterialTimepickerTheme]="primary">
    </ngx-material-timepicker>

    <mat-form-field [appearance]="appearance" (click)="esHoraFinalConUnDiaMas = !esHoraFinalConUnDiaMas; actualizarHorasAdaptadas();"
      floatPlaceholder="always" style="width:90px; margin-left: 5px;" class="mat-form-field--no-underline">
      <!-- the matInput with display:none makes the magic. It's ugly, I've warned you -->
      <input matInput placeholder="Input" style="visibility: hidden;">
      <mat-checkbox (click)="false" [(ngModel)]="esHoraFinalConUnDiaMas" name="esHoraFinalConUnDiaMasName"
        labelPosition="before" style="position: absolute; left: 0; top: 7px;">+1Día</mat-checkbox>
    </mat-form-field>

  </div>

  <!-- Precio por Hora -->
  <mat-form-field [appearance]="appearance" style="cursor: pointer;" (click)="precioUnitarioPorHoraInput.focus()">
    <mat-label>Precio</mat-label>
    <input type="number" class="no-arrows" matInput placeholder="Precio" aria-label="Precio" style="cursor: pointer;"
      (keydown)="onKeyDownPrecioUnitarioPorHora($event)" (wheel)="(false)"
      [(ngModel)]="precioPorHora.precioUnitarioPorHora" #precioUnitarioPorHoraInput name="precioUnitarioPorHoraName"
      required>

    <button type="button" matPrefix mat-button mat-icon-button>
      <mat-icon [innerHtml]="'attach_money'"></mat-icon>
    </button>

    <mat-error>Ingresá un monto</mat-error>
    <mat-hint>Ej: $1500</mat-hint>
  </mat-form-field>

  <div class="botonera" style="text-align: right;">

    <button mat-mini-fab color="warn" (click)="onClickEliminar()">
      <mat-icon [innerHtml]="'delete_forever'" matTooltip="Eliminar"></mat-icon>
    </button>
    <button mat-mini-fab color="success">
      <mat-icon [innerHtml]="'save'" matTooltip="Guardar" (click)="onClickGuardar()"></mat-icon>
    </button>
    <!-- <button mat-button mat-icon-button><mat-icon [innerHtml]="''" matTooltip=""></mat-icon></button> -->
  </div>




</form>
