button[color='success'][mat-mini-fab] {
  background-color: #28a745;
  color: white;
}

button[mat-mini-fab] ~ button[mat-mini-fab] {
  margin-left: 10px;
}

mat-form-field {
  width: 100%;
}

.mat-form-field--no-underline .mat-input-underline {
  background-color: transparent;
}

.mat-form-field--no-underline ::ng-deep .mat-form-field-flex {
  cursor: pointer;
}

.hora-inicio,
.hora-final {
  width: 100%;
}

.hora-inicio mat-form-field ::ng-deep .mat-form-field-subscript-wrapper,
.hora-final mat-form-field ::ng-deep .mat-form-field-subscript-wrapper {
  width: calc(100% + 95px)
}

ngx-material-timepicker ::ng-deep .timepicker-overlay {
  top: 15px;
}

@media (max-device-width: 1023px) and (orientation: landscape) {
  ngx-material-timepicker ::ng-deep .timepicker {
    position: relative;
  }

  ngx-material-timepicker ::ng-deep .timepicker-overlay {
    top: 20px;
  }

  ngx-material-timepicker ::ng-deep .timepicker__header,
  ngx-material-timepicker ::ng-deep .timepicker__body {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  ngx-material-timepicker
    ::ng-deep
    .timepicker__header
    ngx-material-timepicker-dial {
    margin-top: 20px;
  }

  ngx-material-timepicker ::ng-deep .timepicker__actions {
    width: 185px;
    background: #ffffff00;
    left: 0;
    position: absolute;
    bottom: 0;
  }

  ngx-material-timepicker ::ng-deep .timepicker__actions button {
    color: white;
  }
}

@media (orientation: portrait) {
}

@media (min-width: 560px) {
}

@media (min-width: 769px) {
}
