/* You can add global styles to this file, and also import other style files */
/*@import "@angular/material/prebuilt-themes/purple-green.css";*/
/*@import "@angular/material/prebuilt-themes/pink-bluegrey.css";*/
/*@import "@angular/material/prebuilt-themes/deeppurple-amber.css";*/
@import '@angular/material/prebuilt-themes/indigo-pink.css';

@import '../src/assets/css/MaterialIcon.css';

@import '../src/assets/css/animate.css';

body {
  margin: 0px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #333;
}

a {
  color: #337ab7;
  text-decoration: none;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-truncate-80px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80px;
}

.div-middle {
  display: table-cell;
  vertical-align: middle;
}

.display-none {
  display: none !important;
}

.global-inline-block-middle {
  display: inline-block;
  vertical-align: middle;
}

.global-div-middle-vacio {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.m-0 {
  margin: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}

.fade.in {
  opacity: 1;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.full-width,
.w-100 {
  width: 100%;
}

.inline-flex {
  display: inline-flex;
}

.center-middle {
  /*
    <div class="center-middle">
      <div>CONTENIDO</div>
    </div>
  */
  display: flex;
  justify-content: center;
  align-items: center;
}

input.no-arrows[type='number']::-webkit-outer-spin-button,
input.no-arrows[type='number']::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input.no-arrows[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

mat-checkbox:focus {
  /* Corrige un borde azul que se genera en nuevas versiones de Chrome */
  outline: none;
  border: 0;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
