<form #reservaForm="ngForm" (ngSubmit)="procesarReserva(reservaForm)">
  <h1>Reserva</h1>
  <div class="panel-izq">
    <mat-form-field [appearance]="appearance">
      <mat-label>Seleccionar Motivo</mat-label>

      <mat-select placeholder="" [(ngModel)]="reserva.motivo" name="motivoName" #motivoSelect="ngModel" (ngModelChange)="
        duracionEnMinutos = reserva.motivo.tiempoEstandar || 0;
        reserva.motivoId = reserva.motivo.id;
        reserva.importeUnidadReservada = 0;
        calcularTodo();
      " required>
        <mat-option *ngFor="let motivo of motivosReserva" [value]="motivo">
          {{motivo.descripcion}}
        </mat-option>
      </mat-select>
      <mat-icon matPrefix [innerHtml]="'category'"></mat-icon>
      <mat-error>
        Seleccione un Motivo
      </mat-error>
    </mat-form-field>
    <br />
    <br />

    <app-buscar-cliente *ngFor="let cR of reserva.clientesReserva; let i = index" [clientesAFiltrar]="clientesAFiltrarR"
      [(clienteReserva)]="reserva.clientesReserva[i]" (editarClienteClick)="onEditarCliente($event)"
      (crearClienteClick)="onCrearCliente()" (clienteReservaModelChange)="calcularTodo(); onclienteReservaModelChange()">
    </app-buscar-cliente>

    <div class="div-btn-add-cliente" [class.eliminar]="reserva.clientesReserva.length > 1">
      <button type="button" mat-icon-button (click)="onClickAgregarQuitarCliente()">
        <mat-icon [innerHtml]="'people_alt'" style="width: 64px; height: 64px; font-size: 64px; line-height: 64px;">
        </mat-icon>
        <mat-icon *ngIf="reserva.clientesReserva.length <= 1" [innerHtml]="'add'"
          style="width: 40px; height: 40px; font-size: 40px; line-height: 64px; position: absolute; top:0; left:-25px; bottom:0; right: 0;">
        </mat-icon>
        <mat-icon *ngIf="reserva.clientesReserva.length > 1" [innerHtml]="'minimize'"
          style="width: 40px; height: 40px; font-size: 45px; line-height: 36px; position: absolute; top:0; left:-28px; bottom:0; right: 0;">
        </mat-icon>


      </button>
    </div>
    <br />
  </div>

  <div class="panel-der">
    <mat-form-field [appearance]="appearance">
      <mat-label>Seleccionar Cancha</mat-label>
      <mat-select placeholder="" [(ngModel)]="reserva.unidadDeReserva" name="unidadDeReservaName"
        #unidadReservaSelect="ngModel"
        (ngModelChange)="obtenerMatrizParaCalcularTodo(); reserva.unidadDeReservaId = reserva.unidadDeReserva.id"
        required>
        <mat-option *ngFor="let unidad of unidadesReserva" [value]="unidad">
          {{unidad.descripcion}}
        </mat-option>
      </mat-select>
      <mat-icon matPrefix [innerHtml]="'view_quilt'"></mat-icon>
      <mat-error>
        Seleccione una opción
      </mat-error>
    </mat-form-field>
    <br />
    <br />

    <app-datepicker-sin-input [fecha]="fechaReservaMostrar" (fechaChange)="calcularTodo(); camposCorrectos = false"
      [min]="minDate" placeholder="Seleccionar Fecha">
    </app-datepicker-sin-input>
    <br />
    <br />

    <app-mat-slider-custom [(minutos)]="horaReservaEnMinutosParaMostrar"
      (minutosChange)="calcularTodo(); tiempoAdicional = $event;" class="mat-slider-on-landscape" [step]="step"
      [min]="comienzoMinutosHora" [max]="maximoMinutosHora" [textoLabelAntes]="'Hora: '">
    </app-mat-slider-custom>

    <br />
    <br />

    <app-mat-slider-custom-duracion [(minutos)]="duracionEnMinutos" [tiempoReferencia]="comienzoMinutosHora"
      [tiempoAdicional]="tiempoAdicional" (minutosChange)="calcularTodo(); camposCorrectos = false"
      class="mat-slider-duracion-on-landesescape" [step]="step" [min]="0" [max]="duracionMaximaMinutos"
      [error]="duracionError" [textoLabelAntes]="'Duración: +'">
    </app-mat-slider-custom-duracion>

    <br />
    <br />

    <mat-form-field [appearance]="appearance">
      <mat-label>Comentario</mat-label>
      <textarea style="overflow:hidden" matInput [(ngModel)]="reserva.comentario" #comentarioText="ngModel" name="comentarioName" mat-autosize
        maxlength="512" placeholder="Comentario" [minlength]="+reserva.descuento > 0 ? 10 : 0"
        [required]="+reserva.descuento > 0">
      </textarea>
      <mat-icon style="color:grey;" matPrefix [innerHtml]="'comment'"></mat-icon>
      <mat-hint align="end">{{ reserva?.comentario?.length || 0 }} / 512</mat-hint>
      <mat-hint *ngIf="+reserva.descuento > 0 && reserva?.comentario?.length < 10" align="start">
        {{ reserva?.comentario?.length || 0 }} / 10</mat-hint>
      <mat-error>Ingrese un comentario</mat-error>
    </mat-form-field>

    <div style="display: inline-block; width: 100%; text-align: right">
      <div style="width: 100%; height: 30px"></div>

      <h3 style="margin-bottom: 23px;" *ngIf="!reserva.motivo?.esReservaCustom">
        <span style="color:darkgray">Importe: </span>
        <span style="color:#70a870;">$ {{ reserva.importeUnidadReservada }}
        </span>
      </h3>

      <div style="display: block" *ngIf="reserva.motivo?.esReservaCustom">
        <label (click)="importeInput.focus()">
          <span style="font-weight: bold; text-align: right; font-size: 1.17em; color: darkgray">Importe: <span
              style="color:#70a870;">$ </span>
          </span>
        </label>
        <mat-form-field style="max-width: 100%;" [style.width]="(importeInput.value.length || 1) * 9.1 + 'px'">
          <input type="number" matInput [(ngModel)]="reserva.importeUnidadReservada" #importeInput name="importeName"
            (keydown)="verificarKey($event)" (keyup)="calcularTodo()" (focus)="importeInput.value = ''"
            (blur)="importeInput.value = reserva.importeUnidadReservada" class="importeClass" required (wheel)="(false)" />
        </mat-form-field>
      </div>

      <div style="display: block">
        <label (click)="descuentoInput.focus()">
          <span style="font-weight: bold; text-align: right; font-size: 1.17em; color: darkgray">Descuento: <span
              style="color:#678dc5;">-$ </span>
          </span>
        </label>
        <mat-form-field style="max-width: 100%;" [style.width]="(descuentoInput.value.length || 1) * 9.1 + 'px'">
          <input matInput type="number" [(ngModel)]="reserva.descuento" name="descuentoName" #descuentoInput
            (keydown)="verificarKey($event)" (keyup)="calcularTodo()" class="descuentoClass"
            (focus)="descuentoInput.value = null" (blur)="descuentoInput.value = reserva.descuento" (wheel)="(false)" />
        </mat-form-field>
      </div>

      <h3 style="margin-bottom: 30px;" *ngIf="+reserva.deudaTotal > 0">
        <span style="color:darkgray">Total Deuda: </span>
        <span style="color:#fd7272;">$ {{ reserva.deudaTotal }} </span>
      </h3>

      <h3 style="margin-bottom: 30px;" *ngIf="reserva.seniaTotal > 0">
        <span style="color:darkgray">Total Seña: </span>
        <span style="color:#70a870;">-$ {{ reserva.seniaTotal }} </span>
      </h3>

      <h3 style="margin-bottom: 30px;">
        <span style="color:darkgray">Restan: </span>
        <span style="color:#70a870;"> $ {{ reserva.totalReserva || 0 }} </span>
      </h3>

      <h3 style="color:#70a870"></h3>

      <h3 style="color:#70a870"></h3>
      <br />
      <button type="button" mat-flat-button color="primary" style="width: 130px; text-align: right;"
        (click)="calcularTodo(); reserva.esFeriado = !reserva.esFeriado">
        <mat-checkbox tabIndex="-1" labelPosition="before" (click)="(false)" [(ngModel)]="reserva.esFeriado"
          name="esFeriadoName" #esFeriadoCheck="ngModel">Es Feriado</mat-checkbox>
      </button>
      <br />
      <br />
      <br />
      <button type="button" mat-flat-button color="primary" style="width: 130px; text-align: right;"
        (click)="reserva.clientesReserva[0].esReservaFija = !reserva.clientesReserva[0].esReservaFija"
        [disabled]="reserva.clientesReserva.length > 1">
        <mat-checkbox tabIndex="-1" labelPosition="before" (click)="(false)"
          [(ngModel)]="reserva.clientesReserva[0].esReservaFija" name="esReservaFijaName" #esReservaFijaCheck="ngModel">
          Cliente Fijo
        </mat-checkbox>
      </button>


      <br />
      <br />
      <br />
      <br />
      <br />
    </div>
  </div>

  <div class="botonera" style="display: inline-block; width: 100%; text-align: right">
    <button mat-fab type="button" style="margin-left: 0px;" matTooltip="Eliminar" *ngIf="reserva.id && reserva.id > 0"
      color="warn" (click)="eliminarReserva()">
      <mat-icon [innerHtml]="'delete_forever'"></mat-icon>
    </button>
    <button mat-fab type="button" matTooltip="Comenzar" *ngIf="puedeCambiarEstadosReservas && reserva.id && reserva.id > 0" color="success"
      (click)="onClickComenzar()">
      <mat-icon [innerHtml]="'play_arrow'"></mat-icon>
    </button>

    <button mat-fab type="button" matTooltip="Detalles" *ngIf="!puedeCambiarEstadosReservas && reserva.id && reserva.id > 0" color="success"
      (click)="onClickDetalles()">
      <mat-icon [innerHtml]="'vertical_split'"></mat-icon>
    </button>

    <button mat-fab type="button" color="primary" matTooltip="Volver" (click)="volver()">
      <!-- Cancelar -->
      <mat-icon class="reply" [innerHtml]="'reply'"></mat-icon>
    </button>
    <button mat-fab type="submit" color="primary" matTooltip="Guardar">
      <!-- {{reserva.id && reserva.id > 0 ? 'Modificar' : 'Reservar'}} -->
      <mat-icon [innerHtml]="'save'"></mat-icon>
    </button>
  </div>


  <br />
  <br />
  <br />
  <br />
</form>
