textarea[matInput] {
  resize: none;
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

mat-form-field {
  width: 100%;
}

button,
::ng-deep app-buscar-cliente button,
mat-form-field:hover {
  cursor: pointer;
}

.div-btn-add-cliente {
  margin-bottom: 20px;
  display: inline-flex;
  width: 100%;
  text-align: center;
}

.div-btn-add-cliente button {
  margin: auto;
  width: 64px;
  height: 64px;
  color: #70a870;
}

.div-btn-add-cliente.eliminar button {
  color: #ef5b5b;
}

.div-btn-add-cliente button ::ng-deep .mat-button-focus-overlay {
  opacity: 0 !important;
}

.div-btn-add-cliente button ::ng-deep .mat-button-ripple {
  top: -17px;
  left: -24px;
  right: -16px;
  bottom: -18px;
}

/* .agregarDisabled {
  color: #eee !important;
  cursor: not-allowed !important;
} */

/* Ya no existe el boton por fuera, están embutido en el input text */
/* ::ng-deep app-buscar-cliente mat-form-field {
  min-width: calc(100% - 50px);
  width: calc(100% - 50px);
  margin-right: 10px;
} */

/* ::ng-deep app-buscar-cliente .seniaAdicionalInput {
  width: calc(100% - 110px);
  min-width: calc(100% - 110px);
} */

::ng-deep app-datepicker-sin-input mat-form-field {
  width: 100%;
}

::ng-deep app-input-dinero mat-form-field {
  width: 100%;
}

::ng-deep app-input-dinero input {
  font-weight: bold !important;
  font-size: 16px !important;
  text-align: right !important;
  color: #70a870 !important;
}

::ng-deep mat-slider {
  width: 100%;
  margin-bottom: -10px;
}

button[color='success'][mat-fab] {
  background-color: #28a745;
  color: white;
}

.botonera button[mat-fab] {
  margin-left: 10px;
}

button {
  margin-left: 20px;
}

h1 {
  text-align: center;
  color: darkgray;
  margin-bottom: 30px;
  margin-top: 0px;
}

.importeClass {
  font-weight: bold;
  text-align: right;
  font-size: 1.17em;
  color: #70a870;
}

.descuentoClass {
  font-weight: bold;
  text-align: right;
  font-size: 1.17em;
  color: #678dc5;
}

.botonVolverAReserva {
  position: absolute;
  top: 20px;
  right: 15px;
}

.botonera mat-icon.reply {
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  transform: translateY(-1px);
}

@media (min-width: 560px) {
  h1 {
    text-align: left;
  }

  .panel-izq {
    float: left;
    width: 48%;
  }

  .panel-der {
    float: right;
    width: 48%;
  }

  .mat-slider-on-landscape ::ng-deep mat-slider {
    margin-top: 15px;
  }

  .mat-slider-duracion-on-landesescape ::ng-deep mat-slider {
    margin-top: 58px;
  }

  .senia ::ng-deep mat-form-field {
    margin-top: -10px;
  }

  #comentario {
    margin-top: -3px;
  }
}
