<div *ngIf="listMode">
  <mat-form-field>
    <input
      matInput
      (keyup)="filtrar($event.target.value)"
      placeholder="Buscar"
    />
  </mat-form-field>

  <mat-table [dataSource]="fuenteDatos">
    <ng-container matColumnDef="Descripcion">
      <mat-header-cell *matHeaderCellDef><strong> Roles </strong> </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon [innerHtml]="'how_to_reg'"></mat-icon>
        {{ element }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <button
    mat-fab
    color="warn"
    class="mat-elevation-z8 fab-btn-dr"
    (click)="goAddRol()"
  >
    <mat-icon [innerHtml]="'add'"></mat-icon>
  </button>
</div>

<div *ngIf="!listMode" class="abm-form">
  <form>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="descripcion"
        name="descripcion"
        placeholder="Descripción"
        required
      />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="addRol()">Crear</button>

    <button
      mat-fab
      color="warn"
      class="mat-elevation-z8 fab-btn-dr"
      (click)="volver()"
    >
      <mat-icon [innerHtml]="'arrow_back'"></mat-icon>
    </button>
  </form>
</div>
<!-- Crear un listado con las opciones de edicion o triple boton al costado y el fabbutton para crear roles

  barra titulo fija,
  fabbutton al fondo a la derecha.
  los roles se eliminan de a uno.

-->
